{% extends "_base.html" %} {% block content %}
<h1>{{_('นโยบายความเป็นส่วนตัว')}}</h1>
<hr />
<p>
  {{_('วันที่มีผลบังคับใช้ : 26 สิงหาคม 2022')}}
</p>
<h2>
  {{_('1. นโยบายความเป็นส่วนตัวนี้มีผลบังคับใช้ที่ใด')}}
</h2>
<p>
  {{_('นโยบายความเป็นส่วนตัวฉบับนี้มีผลบังคับใช้กับเว็บไซต์ แอพ อีเวนท์
  และบริการอื่นๆ ที่ดำเนินการภายใต้แบรนด์ Tinder เพื่อให้เข้าใจง่าย
  เราจะเรียกสิ่งเหล่านี้ว่า “บริการ” ในนโยบายความเป็นส่วนตัวฉบับนี้
  และเพื่อให้ชัดเจนยิ่งขึ้น
  เรายังเพิ่มลิงก์ของนโยบายความเป็นส่วนตัวนี้ไว้ในบริการที่เกี่ยวข้องทั้งหมด')}}
</p>

<p>
  {{_('บริการบางประเภทอาจต้องใช้นโยบายความเป็นส่วนตัวอีกฉบับที่ต่างกันออกไป
  หากบริการใดมีนโยบายความเป็นส่วนตัวแยกเป็นของตัวเอง
  เราจะไม่ใช้นโยบายความเป็นส่วนตัวฉบับนี้
  แต่จะไปบังคับใช้ฉบับแยกของบริการนั้นแทน')}}
</p>

<h2>
  {{_('2. ข้อมูลที่เราเก็บรวบรวม')}}
</h2>

<p>
  {{_('แน่นอนว่าเราไม่สามารถช่วยคุณพัฒนาความสัมพันธ์ที่มีความหมายได้เลยหากเราไม่มีข้อมูลเกี่ยวกับตัวคุณ
  เช่น รายละเอียดโปรไฟล์พื้นฐานหรือประเภทของคนที่คุณชอบ นอกจากนี้
  เรายังรวบรวมข้อมูลการใช้บริการของคุณอย่างบันทึกการเข้าใช้งาน
  รวมถึงข้อมูลจากบุคคลภายนอก เช่น
  เมื่อคุณเข้าใช้บริการของเราด้วยบัญชีโซเชียลมีเดีย
  หรืออัพโหลดข้อมูลจากบัญชีโซเชียลมีเดียเพื่อทำโปรไฟล์ของคุณให้สมบูรณ์
  หากคุณต้องการข้อมูลเพิ่มเติม กรุณาดูรายละเอียดด้านล่างนี้')}}
</p>

<h3>
  {{_('ข้อมูลที่คุณให้กับเรา')}}
</h3>

<p>
  {{_('คุณเลือกที่จะให้ข้อมูลบางอย่างขณะใช้บริการของเรา ซึ่งรวมถึง:')}}
</p>
<ul>
  <li>
    {{_('เมื่อคุณสร้างบัญชี คุณได้ให้ข้อมูลแก่เราคือ เบอร์โทรศัพท์และอีเมล
    รวมถึงรายละเอียดพื้นฐานต่างๆ ที่จำเป็นสำหรับการให้บริการ เช่น
    เพศและวันเกิดของคุณ')}}
  </li>
  <li>
    {{_('เมื่อคุณสร้างโปรไฟล์เสร็จสมบูรณ์ คุณสามารถแชร์ข้อมูลเพิ่มเติมกับเราได้
    เช่น ข้อมูลบนประวัติส่วนตัว ความสนใจ และรายละเอียดต่างๆ เกี่ยวกับคุณ
    ซึ่งรวมไปถึงคอนเทนท์อย่างรูปภาพและวิดีโอ
    คุณอาจต้องให้สิทธิเราเข้าถึงกล้องถ่ายรูปและอัลบั้มรูปของคุณเพื่อเพิ่มคอนเทนท์บางอย่าง
    เช่น รูปภาพหรือวิดีโอ')}}
  </li>
  <li>
    {{_('เมื่อคุณสมัครสมาชิกแบบชำระเงินหรือซื้อสินค้าโดยตรงจากเรา
    (แทนที่จะผ่านแพลทฟอร์ม เช่น iOS หรือ Android) คุณได้ให้ข้อมูล เช่น
    หมายเลขบัตรเดบิตหรือบัตรเครดิต หรือข้อมูลทางการเงินอื่นๆ
    แก่เราหรือผู้ให้บริการชำระเงินของเรา')}}
  </li>
  <li>
    {{_('เมื่อคุณเข้าร่วมการสำรวจ การวิจัยแบบกลุ่ม หรือการวิจัยศึกษาตลาด
    คุณได้ให้ข้อมูลเชิงลึกเกี่ยวกับผลิตภัณฑ์และบริการของเรา
    รวมถึงรีวิวและคำตอบสำหรับคำถามของเรา')}}
  </li>
  <li>
    {{_('เมื่อคุณเลือกเข้าร่วมโปรโมชั่น อีเวนท์ หรือการแข่งขันของเรา
    เราจะเก็บรวบรวมข้อมูลที่คุณใช้ในการลงทะเบียนหรือเข้าร่วมกิจกรรมนั้นๆ')}}
  </li>
  <li>
    {{_('เมื่อคุณติดต่อทีมดูแลลูกค้าของเรา
    เราจะเก็บรวบรวมข้อมูลที่คุณให้เราไว้ในการสนทนานั้นๆ')}}
  </li>
  <li>
    {{_('เมื่อคุณแชร์ข้อมูลของสมาชิกคนอื่นให้เรา (เช่น
    เมื่อคุณใช้ข้อมูลติดต่อของเพื่อนในฟีเจอร์ใดๆ)
    เราจะใช้ข้อมูลนั้นในนามของคุณเพื่อดำเนินการตามคำขอของคุณ')}}
  </li>
  <li>
    {{_('และเราต้องใช้ข้อมูลแชทที่คุณคุยกับสมาชิกคนอื่น
    รวมถึงคอนเทนท์ที่คุณเผยแพร่เพื่อให้บริการแก่คุณ
    โดยเราจะใช้เท่าที่จำเป็นเท่านั้น')}}
  </li>
</ul>

<h3>
  {{_('ข้อมูลที่เราได้รับจากสมาชิกคนอื่นๆ')}}
</h3>

<p>
  {{_('นอกเหนือจากข้อมูลที่คุณให้กับเราโดยตรงแล้ว
  เรายังได้รับข้อมูลเกี่ยวกับคุณจากสมาชิกคนอื่นด้วย ซึ่งรวมถึง:')}}
</p>
<ul>
  <li>
    <strong>{{_('สมาชิก')}}</strong>
    {{_('สมาชิกรายอื่นๆ อาจให้ข้อมูลเกี่ยวกับคุณขณะที่ใช้บริการของเรา เช่น
    เมื่อเค้ามีปฏิสัมพันธ์กับคุณ หรือรายงานเกี่ยวกับคุณ')}}
  </li>
  <li>
    <strong>{{_('โซเชียลมีเดีย')}}</strong>
    {{_('คุณอาจตัดสินใจแชร์ข้อมูลกับเราผ่านบัญชีโซเชียลมีเดีย ตัวอย่างเช่น
    หากคุณเลือกสร้างและลงชื่อเข้าใช้บัญชี Tinder ด้วยโซเชียลมีเดีย
    หรือบัญชีอื่นๆ (เช่น Facebook, Google หรือ Apple) หรืออัพโหลดข้อมูล เช่น
    รูปภาพ จากบัญชีโซเชียลมีเดียของคุณไว้บนบริการของเรา (เช่น Instagram หรือ
    Spotify)')}}
  </li>
  <li>
    <strong>{{_('บริษัทในเครือ')}}</strong>
    {{_('Tinder เป็นบริษัทในเครือกลุ่มธุรกิจของ Match Group ซึ่ง Match Group
    ให้ความสำคัญกับความปลอดภัยและการรักษาความปลอดภัยของสมาชิกอย่างสูงที่สุด
    หากคุณถูกแบนจากบริการใดบริการหนึ่งของ Match Group
    ข้อมูลของคุณอาจถูกแชร์ให้เราเพื่อให้เราดำเนินการตามความจำเป็นต่อไป
    ซึ่งรวมถึงการปิดบัญชีของคุณ หรือป้องกันไม่ให้คุณสร้างบัญชีกับบริการใดๆ
    ของเราได้อีก')}}
  </li>
  <li>
    <strong>{{_('พาร์ทเนอร์อื่นๆ')}}</strong>
    {{_('เราอาจได้รับข้อมูลของคุณจากพาร์ทเนอร์ของเรา เมื่อมีการเผยแพร่โฆษณาของ
    Tinder บนบริการของพาร์ทเนอร์
    (ในกรณีที่พาร์ทเนอร์อาจส่งรายละเอียดผลลัพธ์ของแคมเปญให้เรา) หากกฎหมายอนุญาต
    เราอาจได้รับข้อมูลจากบุคคลภายนอกเกี่ยวกับผู้ต้องสงสัยในคดี
    หรือผู้ถูกตัดสินว่ากระทำความผิด
    ซึ่งถือเป็นส่วนหนึ่งของการรับรองความปลอดภัยและการรักษาความปลอดภัยให้แก่สมาชิกของเรา')}}
  </li>
</ul>

<h3>
  {{_('ข้อมูลที่เก็บรวบรวมเมื่อคุณใช้บริการของเรา')}}
</h3>

<p>
  {{_('เมื่อคุณใช้บริการของเรา จะมีข้อมูลทางเทคนิคเกิดขึ้น
  ซึ่งเป็นข้อมูลเกี่ยวกับฟีเจอร์ที่คุณใช้ วิธีที่คุณใช้งานฟีเจอร์นั้น
  และอุปกรณ์ที่คุณใช้ในการเข้าถึงบริการของเรา
  คุณสามารถดูรายละเอียดเพิ่มเติมด้านล่าง:')}}
</p>

<ul>
  <li>
    <strong>{{_('ข้อมูลการใช้งาน')}}</strong>
    {{_('เมื่อคุณใช้บริการของเรา
    จะมีข้อมูลเกี่ยวกับกิจกรรมที่คุณทำบนบริการของเราเกิดขึ้น ตัวอย่างเช่น
    วิธีที่คุณใช้งาน (เช่น วันเวลาที่คุณลงชื่อเข้าใช้ ฟีเจอร์ที่คุณใช้
    การกระทำใดๆ ข้อมูลที่คุณเห็น ที่อยู่เว็บไซต์โฆษณาที่คุณคลิก)
    และวิธีที่คุณมีปฏิสัมพันธ์กับสมาชิกรายอื่น (เช่น
    สมาชิกที่คุณเชื่อมต่อและมีปฏิสัมพันธ์ด้วย วันเวลาที่คุณมีปฏิสัมพันธ์
    จำนวนข้อความที่คุณส่งและรับ)')}}
  </li>
  <li>
    <strong>{{_('ข้อมูลอุปกรณ์')}}</strong>
    {{_('เราเก็บรวบรวมข้อมูลของอุปกรณ์ที่คุณใช้
    และจากอุปกรณ์ที่คุณใช้เพื่อเข้าถึงบริการของเรา
    ซึ่งรวมถึงข้อมูลฮาร์ดแวร์และซอฟท์แวร์ เช่น ที่อยู่ IP, รหัสและประเภทอุปกรณ์,
    การตั้งค่าและคุณลักษณะของแอพ, ประวัติแอพขัดข้อง, รหัสโฆษณา
    (ซึ่งเป็นตัวเลขที่สร้างขึ้นแบบสุ่ม
    คุณสามารถรีเซ็ตได้ที่เมนูตั้งค่าอุปกรณ์ของคุณ), ตัวระบุต่างๆ
    ที่เชื่อมโยงกับคุกกี้หรือเทคโนโลยีอื่นๆ
    ที่อาจระบุอุปกรณ์หรือเบราว์เซอร์ได้ชัดเจน')}}
  </li>
  <li>
    <strong>{{_('ข้อมูลอื่นๆ ที่คุณอนุญาต')}}</strong>
    {{_('หากคุณอนุญาต
    เราสามารถเก็บข้อมูลตำแหน่งทางภูมิศาสตร์ที่คุณใช้งานอย่างแม่นยำ (พิกัดละติจูด
    และลองจิจูด)
    และเราอาจเก็บข้อมูลภูมิศาสตร์ของคุณในเบื้องหลังแม้ว่าคุณจะไม่ได้กำลังใช้บริการของเราอยู่ก็ตาม
    แต่ถ้าหากคุณไม่อนุญาตให้เราเก็บข้อมูลทางภูมิศาสตร์อย่างแม่นยำ
    เราก็จะไม่เก็บรวบรวมข้อมูลดังกล่าว เช่นเดียวกัน
    เราอาจเก็บรวบรวมข้อมูลรูปภาพและวิดีโอหากคุณอนุญาต (เช่น
    หากคุณต้องการเผยแพร่รูปภาพหรือวิดีโอเพื่อเข้าร่วมฟีเจอร์สตรีมมิ่งบนบริการของเรา)')}}
  </li>
</ul>

<h2>
  {{_('3. เทคโนโลยีการเก็บรวบรวมคุกกี้และข้อมูลอื่นใดที่คล้ายคลึงกัน')}}
</h2>

<p>
  {{_('เราใช้และอาจอนุญาตให้ผู้อื่นใช้คุกกี้และเทคโนโลยีที่คล้ายกัน (เช่น
  เว็บบีคอน, พิกเซล, SDK) เพื่อจดจำคุณและ/หรืออุปกรณ์ของคุณ
  คุณสามารถอ่านนโยบายคุกกี้ของเราเพื่อศึกษาข้อมูลเพิ่มเติมเกี่ยวกับสาเหตุที่เราใช้คุกกี้
  และวิธีที่คุณจะสามารถควบคุมการใช้คุกกี้ได้')}}
</p>

<p>
  {{_('เว็บเบราว์เซอร์บางประเภท (ซึ่งรวมถึง Safari, Internet Explorer, Firefox
  และ Chrome) มีคุณลักษณะ "Do Not Track" (“ DNT ”)
  ที่บอกเว็บไซต์ว่าผู้ใช้ไม่ต้องการให้มีการติดตามกิจกรรมออนไลน์ของตน
  หากเว็บไซต์ที่ตอบสนองต่อสัญญาณ DNT ได้รับสัญญาณ DNT
  เบราว์เซอร์สามารถบล็อคเว็บไซต์ดังกล่าวจากการรวบรวมข้อมูลบางอย่างเกี่ยวกับผู้ใช้เบราว์เซอร์
  เบราว์เซอร์บางตัวไม่ได้มีตัวเลือก DNT และสัญญาณ DNT ก็ยังไม่สม่ำเสมอ
  ด้วยเหตุนี้ ธุรกิจจำนวนมาก รวมถึง Tinder ยังไม่ตอบสนองต่อสัญญาณ DNT
  ในปัจจุบัน')}}
</p>

<h2>
  {{_('4. วิธีการใช้ข้อมูลของเรา')}}
</h2>

<p>
  {{_('เหตุผลหลักที่เราใช้ข้อมูลของคุณนั้นก็เพื่อมอบและปรับปรุงบริการของเราให้ดียิ่งขึ้น
  นอกจากนี้ เรายังใช้ข้อมูลของคุณเพื่อช่วยรักษาความปลอดภัยให้คุณ
  และนำเสนอโฆษณาที่คุณอาจสนใจ
  คุณสามารถอ่านต่อเพื่อศึกษาข้อมูลอย่างละเอียดถึงเหตุผลต่างๆ
  ที่เราใช้งานข้อมูลของคุณ รวมถึงตัวอย่างที่เราใช้งานจริง')}}
</p>

<h3>
  {{_('ก. เพื่อดูแลบัญชีของคุณและให้บริการแก่คุณ')}}
</h3>

<ul>
  <li>
    {{_('สร้างและจัดการบัญชีของคุณ')}}
  </li>
  <li>
    {{_('ให้บริการช่วยเหลือลูกค้า และตอบรับคำขอต่างๆ ของคุณ')}}
  </li>
  <li>
    {{_('ทำธุรกรรมของคุณให้สำเร็จ')}}
  </li>
  <li>
    {{_('สื่อสารกับคุณเรื่องบริการของเรา')}}
  </li>
</ul>

<h4>
  {{_('ข. เพื่อเชื่อมต่อคุณกับสมาชิกคนอื่น')}}
</h4>

<ul>
  <li>
    {{_('แนะนำสมาชิกคนอื่นๆ ให้คุณรู้จัก')}}
  </li>
  <li>
    {{_('แสดงโปรไฟล์ของสมาชิกให้กันและกัน')}}
  </li>
</ul>

<h3>
  {{_('ค. เพื่อให้บริการใหม่ๆ ของ Tinder แก่คุณ')}}
</h3>

<ul>
  <li>
    {{_('ลงทะเบียนให้คุณ และแสดงโปรไฟล์ของคุณบนฟีเจอร์และแอพใหม่ๆ ของ Tinder')}}
  </li>
  <li>
    {{_('ดูแลบัญชีของคุณบนฟีเจอร์และแอพใหม่ๆ ของ Tinder')}}
  </li>
</ul>

<h3>
  {{_('ง. เพื่อดำเนิน โฆษณา และ แคมเปญทางการตลาด')}}
</h3>

<ul>
  <li>
    {{_('จัดการการชิงรางวัล การแข่งขัน ส่วนลด หรือข้อเสนออื่นๆ')}}
  </li>
  <li>
    {{_('ดำเนินการและวัดประสิทธิภาพของแคมเปญโฆษณาบนบริการของเรา
    และแคมเปญการตลาดเพื่อการโฆษณา Tinder ในที่อื่นๆ')}}
  </li>
  <li>
    {{_('สื่อสารให้คุณรู้ถึงผลิตภัณฑ์หรือบริการที่เราคิดว่าคุณอาจสนใจ')}}
  </li>
</ul>

<h3>
  {{_('จ. เพื่อพัฒนาบริการของเรา และคิดค้นบริการใหม่ๆ')}}
</h3>

<ul>
  <li>
    {{_('จัดทำวิจัยเชิงคุณภาพ การศึกษาตลาด และทำการสำรวจ')}}
  </li>
  <li>
    {{_('ตรวจสอบบทสนทนาของคุณกับทีมดูแลลูกค้าเพื่อปรับปรุงบริการของเรา')}}
  </li>
  <li>
    {{_('ทำความเข้าใจวิธีที่สมาชิกใช้งานบริการของเราเพื่อปรับปรุงบริการให้ดียิ่งขึ้น
    (เช่น เราอาจตัดสินใจเปลี่ยนรูปลักษณ์
    หรือเปลี่ยนฟีเจอร์โดยสิ้นเชิงตามพฤติกรรมการใช้งานของสมาชิก)')}}
  </li>
  <li>
    {{_('พัฒนาฟีเจอร์และบริการใหม่ๆ (ตัวอย่างเช่น
    เราอาจตัดสินใจสร้างฟีเจอร์ใหม่ตามความสนใจจากคำร้องขอที่ได้รับจากผู้ใช้)')}}
  </li>
</ul>

<h3>
  {{_('ฉ. เพื่อป้องกัน ตรวจหา และต่อต้านการฉ้อโกง และกิจกรรมอื่นๆ
  ที่ผิดกฎหมายหรือไม่ได้รับอนุญาต')}}
</h3>

<ul>
  <li>
    {{_('ตรวจหาและดำเนินการกับพฤติกรรมที่ละเมิดหรือสงสัยว่าละเมิด')}}
    <a href="{{url_for('legal.terms')}}">
      {{_('เงื่อนไขการใช้งาน')}}
    </a>
    {{_('ของเราผ่านการตรวจสอบรายงานที่ส่งเข้ามาและปฏิสัมพันธ์ระหว่างสมาชิก')}}
  </li>
  <li>
    {{_('ทำความเข้าใจและพัฒนาวิธีการจัดการกับพฤติกรรมที่ละเมิด')}}
    <a href="{{url_for('legal.terms')}}">
      {{_('เงื่อนไขการใช้งาน')}}
    </a>
    {{_('ของเรา')}}
  </li>
  <li>
    {{_('เก็บรักษาข้อมูลเกี่ยวกับพฤติกรรมที่ละเมิด')}}
    <a href="{{url_for('legal.terms')}}">
      {{_('เงื่อนไขการใช้งาน')}}
    </a>
    {{_('ของเรา เพื่อป้องกันไม่ให้เกิดซ้ำ')}}
  </li>
  <li>
    {{_('บังคับใช้หรือใช้สิทธิของเรา ตัวอย่างเช่น')}}
    <a href="{{url_for('legal.terms')}}">
      {{_('เงื่อนไขการใช้งาน')}}
    </a>
    {{_('ของเรา')}}
  </li>
  <li>
    {{_('สื่อสารกับผู้ที่ส่งรายงานเข้ามาหลังจากได้รับรายงาน')}}
  </li>
</ul>

<h3>
  {{_('ช. เพื่อให้แน่ใจว่าเราปฏิบัติตามกฎหมาย')}}
</h3>

<ul>
  <li>
    {{_('ปฏิบัติตามข้อกำหนดทางกฎหมาย')}}
  </li>
  <li>
    {{_('ช่วยในการบังคับใช้กฎหมาย')}}
  </li>
</ul>

<p>
  {{_('หากคุณต้องการดูข้อมูลเพิ่มเติมเกี่ยวกับวิธีที่เราใช้งานข้อมูลของคุณผ่านการวิเคราะห์โปรไฟล์และการตัดสินใจแบบอัตโนมัติ
  กรุณาดูที่หน้า')}}

  <a href="{{url_for('legal.terms')}}">
    {{_('FAQ')}}
  </a>
</p>

<p>
  {{_('เพื่อเป็นการใช้งานข้อมูลของคุณตามที่ระบุไว้ในนโยบายความเป็นส่วนตัวฉบับนี้
  เรายึดหลักปฏิบัติตามข้อกฎหมายดังนี้:')}}
</p>

<ul>
  <li>
    {{_('ให้บริการแก่คุณ: เหตุผลที่เราใช้งานข้อมูลของคุณตามที่ระบุไว้ในข้อ ก. ข.
    และ ค. นั้นก็เพื่อปฏิบัติตามข้อสัญญาที่คุณทำร่วมกับเรา เช่น
    ในขณะที่คุณใช้บริการเราเพื่อสร้างความสัมพันธ์ที่มีความหมาย
    เราก็ใช้ข้อมูลของคุณเพื่อรักษาบัญชีและโปรไฟล์ของคุณไว้ ทำให้สมาชิกคนอื่นๆ
    สามารถเห็นโปรไฟล์ของคุณได้ และแนะนำสมาชิกคนอื่นๆ ให้คุณรู้จัก
    นอกจากนี้ยังเพื่อให้บริการฟีเจอร์ทั้งแบบฟรีและแบบเสียเงินให้แก่คุณและสมาชิกคนอื่นๆ')}}
  </li>
  <li>
    {{_('ผลประโยชน์ที่ชอบด้วยกฎหมาย: เราใช้งานข้อมูลของคุณ ตามที่ระบุไว้ในข้อ ง.
    จ. และ ฉ.เพื่อผลประโยชน์ที่ชอบด้วยกฎหมาย เช่น
    เราวิเคราะห์พฤติกรรมของผู้ใช้บริการของเราเพื่อปรับปรุงข้อเสนอให้ตรงใจคุณยิ่งขึ้น
    เราแนะนำข้อเสนอที่คิดว่าคุณน่าจะสนใจและโฆษณาบริการของเรา
    เราใช้งานข้อมูลของคุณเพื่อรักษาความปลอดภัยแก่สมาชิก
    และเราใช้งานข้อมูลเพื่อบังคับใช้สิทธิของเราเท่าที่จำเป็น
    รวมถึงเพื่อทำตามข้อกฎหมาย
    และช่วยให้เราปกป้องตนเองได้หากมีการดำเนินการทางกฎหมาย')}}
  </li>
  <li>
    {{_('ปฏิบัติตามกฎหมายและระเบียบที่บังคับใช้:
    เราใช้งานข้อมูลของคุณตามที่ระบุไว้ในข้อ ช.
    เท่าที่จำเป็นเพื่อปฏิบัติตามกฎหมายและระเบียบที่บังคับใช้
    และเพื่อเป็นหลักฐานว่าเราปฏิบัติตามกฎหมายและระเบียบข้อบังคับนั้นๆ เช่น
    เราเก็บรักษาข้อมูลการเข้าเยี่ยมชมและข้อมูลทางธุรกรรมที่สอดคล้องกับข้อบังคับเรื่องการเก็บรักษาข้อมูลบัญชี
    ข้อมูลภาษี และข้อมูลทางกฎหมาย
    ทั้งยังเพื่อรองรับคำขอการเข้าถึงโดยชอบด้วยกฎหมาย นอกจากนี้
    เรายังเก็บหลักฐานข้อมูลความยินยอมที่สมาชิกให้เรา
    และตัวเลือกที่สมาชิกเลือกไว้หากสมาชิกไม่ต้องการรับฟีเจอร์บางอย่างหรือไม่อนุญาตให้เราใช้งานข้อมูล')}}
  </li>
  <li>
    {{_('ความยินยอม: หากคุณเลือกให้ข้อมูลที่อาจถือว่าเป็นข้อมูล "พิเศษ" หรือ
    "ละเอียดอ่อน" แก่เราในบางเขตอำนาจศาล เช่น รสนิยมทางเพศ
    นั่นหมายความว่าคุณได้ยอมรับให้เราใช้งานข้อมูลนั้นตามนโยบายความเป็นส่วนตัว
    เราอาจขออนุญาตเก็บรวบรวมข้อมูลบางอย่าง เช่น ตำแหน่งทางภูมิศาสตร์ที่แม่นยำ
    หรือขอใช้ข้อมูลของคุณเพื่อวัตถุประสงค์ใดๆ เป็นบางครั้งบางคราว ในบางกรณี
    คุณสามารถถอนความยินยอมไม่ให้เราใช้งานข้อมูลนั้นได้โดยการแก้ไขการตั้งค่าของคุณ
    (เช่น ไม่อนุญาตให้เข้าถึงตำแหน่งทางภูมิศาสตร์ที่แม่นยำ)
    หรือโดยการลบคอนเทนท์นั้น (เช่น เมื่อคุณใส่ข้อมูลที่ถือเป็นข้อมูล "พิเศษ"
    หรือ "ละเอียดอ่อน" ไว้บนโปรไฟล์)
    คุณสามารถติดต่อเราตามที่อยู่ที่เราให้ไว้ท้ายนโยบายความเป็นส่วนตัวฉบับนี้เพื่อถอนความยินยอมได้ทุกเมื่อ')}}
  </li>
</ul>

<h2>{{_('5. วิธีการแชร์ข้อมูลของเรา')}}</h2>

<p>
  {{_('เพราะเป้าหมายของเราคือช่วยคุณสร้างความสัมพันธ์ที่มีความหมาย
  การแชร์ข้อมูลส่วนใหญ่ของเราก็คือการแชร์ข้อมูลของสมาชิกให้กับสมาชิกรายอื่นๆ
  ได้รู้นั่นเอง นอกจากนี้
  เรายังแชร์ข้อมูลบางส่วนของสมาชิกกับผู้ให้บริการและพาร์ทเนอร์ที่ช่วยบริษัทเราดำเนินงานบริการ
  หรือบริษัทอื่นๆ ในเครือ Match Group ตามเหตุผลที่ระบุไว้ด้านล่าง
  และเจ้าหน้าที่ทางกฎหมายในบางกรณี
  อ่านต่อเพื่อดูรายละเอียดเพิ่มเติมเกี่ยวกับวิธีที่เราแชร์ข้อมูลของคุณกับผู้อื่น')}}
</p>

<ul>
  <li>
    <h3>
      {{_('กับสมาชิกรายอื่น')}}
    </h3>
    <p>
      {{_('
      คุณจะแชร์ข้อมูลกับสมาชิกรายอื่นก็ต่อเมื่อคุณสมัครใจที่จะเปิดเผยข้อมูลในบริการของเรา
      (ซึ่งรวมถึงโปรไฟล์สาธารณะของคุณ)
      กรุณาระมัดระวังข้อมูลของคุณและตรวจสอบให้แน่ใจว่าเนื้อหาที่คุณแชร์นั้นเป็นเนื้อหาที่คุณสบายใจที่จะเปิดเผยต่อสาธารณะ
      ')}}
    </p>
    <p>
      {{_(' หากคุณเลือกที่จะจำกัดผู้ชมที่สามารถดูโปรไฟล์ คอนเทนท์
      หรือข้อมูลทั้งหมดเกี่ยวกับคุณ ไม่ว่าจะทั้งหมดหรือเพียงบางส่วน
      ผู้ชมก็จะเห็นข้อมูลตามที่คุณกำหนดตั้งค่าไว้ ')}}
    </p>
    <p>
      {{_('หากมีใครรายงานปัญหาเกี่ยวกับคุณ (เช่น อ้างว่าคุณละเมิด')}}
      <a href="{{url_for('legal.terms')}}">
        เงื่อนไขการใช้งาน
      </a>
      {{_(') เราอาจแจ้งผลการรายงานปัญหากับผู้ที่รายงานปัญหาเข้ามา (หากมี) ')}}
    </p>
  </li>
  <li>
    <h3>
      {{_('กับผู้ให้บริการและพาร์ทเนอร์ของเรา')}}
    </h3>
    <p>
      {{_('เราใช้บุคคลภายนอกมาช่วยในการดำเนินงานและปรับปรุงบริการของเรา
      บุคคลภายนอกเหล่านี้ช่วยเราในการทำงานต่างๆ
      ซึ่งรวมถึงการบริการพื้นที่โฮสติ้งและบำรุงรักษาข้อมูล การวิเคราะห์
      การดูแลลูกค้า การตลาด การโฆษณา การดำเนินการชำระเงิน และการรักษาความปลอดภัย
      นอกจากนี้
      เรายังแชร์ข้อมูลกับพาร์ทเนอร์ที่เผยแพร่และช่วยในโฆษณาบริการของเราเช่นกัน
      เช่น เราอาจแชร์ข้อมูลแบบจำกัดของคุณกับพาร์ทเนอร์โฆษณาของเรา
      ซึ่งเป็นข้อมูลในรูปแบบที่ย่อยส่วนมาแล้ว
      และไม่มีผู้ใดสามารถทำความเข้าใจได้')}}
    </p>

    <p>
      {{_('
      เรามีขั้นตอนการตรวจสอบที่เข้มงวดก่อนร่วมงานกับผู้ให้บริการหรือทำงานกับพาร์ทเนอร์ใดๆ
      ผู้ให้บริการและพาร์ทเนอร์ทั้งหมดของเราจะต้องยอมรับข้อผูกพันในการรักษาความลับอย่างเคร่งครัด')}}
    </p>
  </li>

  <li>
    <h3>
      {{_('กับบริษัทในเครือของเรา')}}
    </h3>
    <p>
      {{_('Tinder เป็นบริษัทในเครือกลุ่มธุรกิจของ Match Group')}}
    </p>

    <p>
      {{_('
      เราแชร์ข้อมูลของคุณกับบริษัทในเครือของเราเพื่อเหตุผลทางกฎหมายตามที่ระบุไว้ด้านล่าง')}}
    </p>
    <ul>
      <li>
        เพื่อรักษาความปลอดภัยของแพลทฟอร์มต่างๆ ของ Match Group
        และช่วยให้เราสามารถจัดการกับผู้ไม่หวังดีที่พบบนแพลทฟอร์มหนึ่งได้บนทุกๆ
        แพลทฟอร์มของเรา (เช่น การแบน)
        เพื่อให้บริษัทในเครือสามารถช่วยเราประมวลผลข้อมูลในฐานะผู้ให้บริการตามแนวทางของเรา
        และในนามของเรา ความช่วยเหลือจากบริษัทอื่นๆ ในเครือ Match Group
        อาจรวมถึงการดำเนินการด้านเทคนิค เช่น การโฮสติ้งและการบำรุงรักษาข้อมูล
        การดูแลลูกค้า การตลาดและโฆษณาแบบกำหนดเป้าหมาย การวิเคราะห์ข้อมูล
        การให้ความช่วยเหลือทางด้านการเงินและการบัญชี การปรับปรุงบริการ
        การรักษาความปลอดภัยของข้อมูลและระบบของเราและการต่อต้านสแปม การล่วงละเมิด
        การฉ้อโกง การละเมิด และการกระทำผิดอื่นๆ
      </li>
      <li>
        นอกจากนี้ เราอาจแชร์ข้อมูล กับบริษัทอื่นๆ ในเครือ Match Group
        เพื่อเหตุผลทางธุรกิจอื่นๆ ที่ชอบด้วยกฎหมาย ซึ่งรวมถึงการตรวจสอบองค์กร
        การวิเคราะห์ และรายงานแบบรวมตามกฎหมายที่เกี่ยวข้อง
      </li>
    </ul>
  </li>

  <li>
    <h3>
      {{_('ฟังก์ชั่นการแชร์')}}
    </h3>
    <p>
      {{_('คุณสามารถแชร์โปรไฟล์ของสมาชิกคนอื่นๆ ได้ และสมาชิกคนอื่นๆ
      ก็สามารถแชร์โปรไฟล์ของคุณกับคนอื่นที่ไม่ได้ใช้บริการของเราผ่านฟังก์ชั่นการแชร์ได้เช่นกัน')}}
    </p>
  </li>

  <li>
    <h3>
      {{_('สำหรับธุรกรรมของบริษัท')}}
    </h3>
    <p>
      {{_('เราอาจโอนถ่ายข้อมูลของคุณหากเรามีส่วนร่วมไม่ว่าทั้งหมดหรือบางส่วนในการควบกิจการ
      การขาย การซื้อกิจการ การขายกิจการ การปรับโครงสร้าง การปรับองค์กร
      การเลิกบริษัท การล้มละลาย หรือการเปลี่ยนแปลงเจ้าของหรือผู้ควบคุมอื่นๆ')}}
    </p>
  </li>

  <li>
    <h3>
      {{_('ด้วยการบังคับใช้กฎหมาย/เมื่อมีความจำเป็นตามข้อกฎหมาย')}}
    </h3>
    <p>
      {{_('เราอาจเปิดเผยข้อมูลของคุณหากมีเหตุจำเป็น: (1)
      เพื่อปฏิบัติตามกระบวนการทางกฎหมาย เช่น คำสั่งศาล หมายเรียกหรือหมายค้น
      การสืบสวนทางกฎหมาย/การสืบสวนโดยรัฐ หรือข้อกำหนดอื่นๆ ทางกฎหมาย (2)
      เพื่อช่วยในการป้องกันหรือติดตามอาชญากรรม
      (ภายใต้กฎหมายที่บังคับใช้ในแต่ละกรณี) หรือ (3)
      เพื่อรักษาความปลอดภัยของบุคคลใดๆ')}}
    </p>
  </li>

  <li>
    <h3>
      {{_('เพื่อบังคับใช้สิทธิตามกฎหมาย')}}
    </h3>
    <p>
      {{_('เราอาจแชร์ข้อมูล: (1)
      หากการเปิดเผยข้อมูลจะช่วยลดความรับผิดของเราลงในคดีที่เกิดขึ้นหรือคดีที่อาจเกิดขึ้น
      (2) เท่าที่จำเป็นเพื่อปกป้องสิทธิตามกฎหมายของเรา
      และสิทธิตามกฎหมายของสมาชิก พาร์ทเนอร์ทางธุรกิจ หรือผู้มีส่วนได้เสียอื่นๆ
      (3) เพื่อบังคับใช้ข้อตกลงกับคุณ และ (4) เพื่อตรวจสอบ ป้องกัน
      หรือดำเนินการใดๆ กับกิจกรรมที่ผิดกฎหมาย หรือการกระทำอื่นๆ
      ที่น่าสงสัยว่าฉ้อโกง หรือกระทำผิด')}}
    </p>
  </li>

  <li>
    <h3>
      {{_('ตามความยินยอมหรือตามคำขอของคุณ')}}
    </h3>
    <p>
      {{_('เราอาจขอความยินยอมเพื่อแชร์ข้อมูลของคุณกับบุคคลภายนอก ในกรณีดังกล่าว
      เราจะแจ้งให้ชัดเจนว่าทำไมเราถึงต้องการแชร์ข้อมูลนั้น')}}
    </p>

    <p>
      {{_('เราอาจใช้และแบ่งปันข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคล
      (ซึ่งหมายถึงข้อมูลที่ไม่สามารถระบุได้ด้วยตนเองว่าคุณเป็นใคร เช่น
      ข้อมูลอุปกรณ์ ข้อมูลประชากรทั่วไป ข้อมูลเกี่ยวกับพฤติกรรมทั่วไป
      ตำแหน่งทางภูมิศาสตร์ในรูปแบบที่ไม่ระบุตัวตน)
      รวมทั้งข้อมูลส่วนบุคคลในรูปแบบที่ย่อยส่วนมาแล้ว
      และไม่มีผู้ใดสามารถทำความเข้าใจได้ ภายใต้สถานการณ์ใดๆ ข้างต้น
      เราอาจแบ่งปันข้อมูลดังกล่าวกับบริษัทอื่นๆ ในเครือ Match Group
      และบุคคลภายนอก (กล่าวคือผู้ลงโฆษณา)
      เพื่อพัฒนาและส่งมอบโฆษณาสำหรับกลุ่มเป้าหมายเฉพาะเกี่ยวกับบริการของเราและบนเว็บไซต์หรือแอพพลิเคชั่นของบุคคลภายนอก
      และเพื่อวิเคราะห์และรายงานเกี่ยวกับโฆษณาที่คุณเห็น
      เราอาจนำข้อมูลนี้มารวมเพิ่มกับข้อมูลที่ไม่ใช่ข้อมูลส่วนบุคคลหรือข้อมูลส่วนบุคคลในรูปแบบที่ย่อยส่วนมาแล้ว
      และไม่มีผู้ใดสามารถทำความเข้าใจได้ที่เก็บรวบรวมจากแหล่งอื่น
      ศึกษาข้อมูลเพิ่มเติมเกี่ยวกับการใช้คุกกี้และเทคโนโลยีที่คล้ายคลึงกันของเราได้ที่')}}
      <a href="{{url_for('legal.cookies_policy')}}"> 
        {{_('นโยบายการใช้คุกกี้')}}
      </a>
    </p>
  </li>
</ul>
<h2>
  {{_('6. การถ่ายโอนข้อมูลข้ามประเทศ')}}
</h2>
<p>
  {{_('การแชร์ข้อมูลที่ระบุไว้ในหมวดที่ 5
  นั้นรวมไปถึงการโอนข้อมูลข้ามประเทศไปยังสหรัฐอเมริกาและเขตอำนาจศาลอื่นๆ
  ที่อาจมีข้อบังคับทางกฎหมายเกี่ยวกับการใช้งานข้อมูลที่ต่างกันไป
  เมื่อเราโอนข้อมูลส่วนตัวไปยังประเทศอื่นๆ นอกเหนือจากเขตเศรษฐกิจยุโรป
  สหราชอาณาจักร สวิตเซอร์แลนด์ หรือประเทศอื่นๆ
  ที่คณะกรรมาธิการยุโรปหรือหน่วยงานของรัฐที่มีอำนาจเห็นว่ามีกฎหมายคุ้มครองข้อมูลที่รัดกุมเพียงพอ
  เราจะใช้')}}
  <a
    href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_en"
  >
    {{_('ข้อสัญญามาตรฐาน')}}
  </a>
  {{_('(ข้อสัญญามาตรฐานเป็นข้อผูกมัดระหว่างบริษัทต่างๆ
  ที่ถ่ายโอนข้อมูลส่วนบุคคลให้กัน
  เพื่อผูกมัดให้คุ้มครองความเป็นส่วนตัวและความปลอดภัยของข้อมูลของคุณ)
  หรือวิธีการอื่นๆ ในการโอนข้อมูลที่เหมาะสม
  ขณะนี้เรากำลังตรวจสอบการโอนข้อมูลไปยังผู้ขายและพื้นฐานทางกฎหมายที่เกี่ยวข้อง
  นอกเหนือไปจาก')}}
  <a
    href="https://curia.europa.eu/juris/document/document.jsf;jsessionid=D9783B09CDC25934085215EB6CAC9FDB?text=&docid=228677&pageIndex=0&doclang=EN&mode=req&dir=&occ=first&part=1&cid=14024666"
  >
    {{_('คำตัดสินล่าสุดของศาลยุติธรรมแห่งสหภาพยุโรปเกี่ยวกับการโอนข้อมูลส่วนบุคคลไปยังสหรัฐอเมริกา')}}
  </a>
</p>

<h2>
  {{_('7. สิทธิของคุณ')}}
</h2>
<p>
  {{_('เราอยากให้คุณสามารถควบคุมข้อมูลของตัวเองได้
  เราเลยมีเครื่องมือต่อไปนี้ให้คุณ:')}}
</p>
<ul>
  <li>
    <strong>
      {{_('การเข้าถึง / อัพเดทเครื่องมือในบริการ')}}
    </strong>
    {{_('เมนูการตั้งค่าเครื่องมือและบัญชีจะช่วยให้คุณเข้าถึง แก้ไข
    หรือลบข้อมูลที่คุณให้ไว้กับเราได้
    โดยเราได้ผูกเมนูนี้ไว้กับบัญชีของคุณโดยตรงในบริการของเรา หากคุณมีคำถามใดๆ
    เกี่ยวกับเครื่องมือและการตั้งค่าเหล่านี้
    กรุณาติดต่อทีมดูแลลูกค้าของเราที่นี่เพื่อขอรับความช่วยเหลือ')}}
  </li>
  <li>
    <strong>
      {{_('สิทธิอนุญาตให้เข้าถึงอุปกรณ์')}}
    </strong>

    {{_('แพลทฟอร์มโทรศัพท์มือถืออาจมีระบบการให้สิทธิอนุญาตสำหรับข้อมูลอุปกรณ์และการแจ้งเตือนบางประเภท
    เช่น เบอร์โทรศัพท์ของรายชื่อผู้ติดต่อ รูปภาพ บริการระบุโลเคชั่น การแจ้งเตือน
    และตัวระบุโฆษณา
    คุณสามารถแก้ไขการตั้งค่าบนอุปกรณ์ของคุณได้เพื่อยินยอมหรือไม่ยินยอมให้เราเก็บรวบรวมหรือใช้งานข้อมูล
    หรือแสดงการแจ้งเตือนดังกล่าว แต่หากคุณเลือกไม่ยินยอม
    คุณอาจไม่สามารถใช้บริการของเราได้ครบทุกฟังก์ชั่น')}}
  </li>
  <li>
    <strong>
      {{_('ถอนการติดตั้ง')}}
    </strong>
    {{_('คุณสามารถหยุดไม่ให้มีการเก็บรวบรวมข้อมูลของคุณได้หากคุณถอนการติดตั้งแอพเราตามวิธีถอนการติดตั้งตามมาตรฐานของอุปกรณ์ของคุณ
    โปรดทราบไว้ว่าการถอนการติดตั้งแอพไม่ได้เป็นการปิดบัญชี หากคุณต้องการปิดบัญชี
    กรุณาใช้ฟังก์ชั่นที่เกี่ยวข้องบนบริการของเรา')}}
  </li>

  <li>
    <strong>
      {{_('ปิดบัญชี')}}
    </strong>
    {{_('คุณสามารถใช้ฟังก์ชั่นที่เกี่ยวข้องบนบริการของเราได้โดยตรงเพื่อปิดบัญชี')}}
  </li>
</ul>
<p>
  {{_('นอกจากนี้ เราอยากให้คุณรับทราบถึงสิทธิความเป็นส่วนตัวของคุณด้วยเช่นกัน
  โดยมีข้อควรรู้ต่อไปนี้:')}}
</p>
<ul>
  <li>
    <strong> {{_('การตรวจสอบข้อมูลของคุณ')}} </strong>
    {{_('กฎหมายคุ้มครองข้อมูลส่วนบุคคลที่เกี่ยวข้องอาจให้สิทธิคุณตรวจสอบข้อมูลส่วนบุคคลของคุณที่เรารวบรวมไว้
    (ทั้งนี้ ขึ้นอยู่กับเขตอำนาจศาล โดยอาจมีชื่อเรียกว่า "สิทธิในการเข้าถึง"
    "สิทธิในการส่งต่อข้อมูล" หรือชื่ออื่นๆ ของศัพท์เฉพาะเหล่านั้น)
    คุณสามารถใช้สิทธินี้ได้โดยส่งคำขอได้ที่นี่')}}
  </li>

  <li>
    <strong> {{_('การอัพเดทข้อมูลของคุณ')}} </strong>
    {{_('หากคุณเชื่อว่าข้อมูลของคุณที่เรามีอยู่ไม่ถูกต้องหรือคิดว่าเราไม่มีสิทธิใช้ข้อมูลนี้อีกต่อไป
    และต้องการให้แก้ไข ลบ หรือคัดค้านไม่ให้นำไปใช้งาน กรุณาติดต่อเราที่นี่')}}
  </li>
</ul>
<p>
  {{_('เพื่อเป็นการคุ้มครองคุณและสมาชิกทั้งหมดของเรา
  เราอาจขอให้คุณส่งหลักฐานยืนยันตัวตนก่อนที่เราจะตอบรับคำขอข้างต้นได้')}}
</p>
<p>
  {{_('โปรดทราบว่าเราอาจปฏิเสธคำขอคุณ หากเราไม่สามารถตรวจสอบสิทธิของคุณได้
  หรือคำขอนั้นไม่ถูกต้องหรือชอบด้วยกฎหมาย หรืออาจละเมิดความลับทางการค้า
  ทรัพย์สินทางปัญญา หรือความเป็นส่วนตัวของผู้อื่น
  หากคุณต้องการรับข้อมูลเกี่ยวกับสมาชิกรายอื่น เช่น สำเนาของข้อความใดๆ
  ที่คุณได้รับจากบุคคลผู้นั้นผ่านบริการของเรา
  สมาชิกผู้นั้นจะต้องติดต่อเราเพื่อให้ความยินยอมเป็นลายลักษณ์อักษรก่อนที่เราจะเผยแพร่ข้อมูลนั้นได้
  เราอาจขอให้สมาชิกผู้นั้นส่งหลักฐานยืนยันตัวตนก่อนที่เราจะตอบรับคำขอได้')}}
</p>

<p>
  {{_('นอกจากนี้
  เราอาจไม่สามารถดำเนินการตามคำขอบางอย่างที่ขัดต่อหรือจำกัดการใช้งานข้อมูลส่วนบุคคล
  โดยเฉพาะอย่างยิ่งเมื่อคำขอนั้นทำให้เราไม่สามารถให้บริการคุณได้อีกต่อไป
  ตัวอย่างเช่น เราไม่สามารถให้บริการได้หากเราไม่ทราบวันเกิดของคุณ
  ซึ่งทำให้เราไม่สามารถยืนยันได้ว่าคุณมีอายุเกิน 18 ปีขึ้นไป')}}
</p>

<p>
  {{_('ในบางประเทศ เช่น เขตเศรษฐกิจยุโรป และสหราชอาณาจักร
  คุณมีสิทธิที่จะยื่นเรื่องร้องเรียนต่อหน่วยงานคุ้มครองข้อมูลที่เกี่ยวข้องหากคุณมีข้อกังวลเกี่ยวกับวิธีที่เราใช้งานข้อมูลส่วนบุคคลของคุณ
  คุณสามารถหาข้อมูลเพิ่มเติมเกี่ยวกับหน่วยงานที่ดูแลเรื่องการคุ้มครองข้อมูลในเขตเศรษฐกิจยุโรปได้')}}
  <a href="https://edpb.europa.eu/about-edpb/about-edpb/members_en">
    {{_('ที่นี่')}}
  </a>
  {{_(' และในสหราชอาณาจักรได้')}}
  <a href="https://ico.org.uk/">
    {{_('ที่นี่')}}
  </a>
  {{_('หน่วยงานคุ้มครองข้อมูลที่คุณสามารถยื่นเรื่องร้องเรียนได้อาจเป็นหน่วยงานในถิ่นที่คุณอาศัยอยู่
  ที่ทำงาน หรือที่ๆ เกิดการละเมิดขึ้น')}}
</p>
<h2>
  {{_('8. ระยะเวลาที่เราจะเก็บรักษาข้อมูลของคุณไว้')}}
</h2>
<p>
  {{_('
  เราจะเก็บข้อมูลส่วนบุคคลของคุณนานเท่าที่จำเป็นเพื่อวัตถุประสงค์ทางธุรกิจที่ชอบด้วยกฎหมาย
  (ตามที่ระบุไว้ในหมวด 4) และตามที่ได้รับอนุญาตจากกฎหมายที่เกี่ยวข้อง
  หากคุณตัดสินใจเลิกใช้บริการของเรา คุณสามารถปิดบัญชี และสมาชิกคนอื่นๆ
  จะไม่สามารถเห็นโปรไฟล์ของคุณได้อีกต่อไป
  โปรดทราบว่าเราจะปิดบัญชีของคุณโดยอัตโนมัติหากคุณไม่มีการเคลื่อนไหวเป็นระยะเวลาสองปี
  หลังจากบัญชีของคุณถูกปิดแล้ว เราจะลบข้อมูลส่วนตัวของคุณตามที่ระบุไว้ด้านล่าง:
  ')}}
</p>
<ol>
  <li>
    {{_('เพื่อคุ้มครองความปลอดภัยและรักษาความปลอดภัยให้แก่สมาชิกของเรา
    เราตั้งกรอบเวลารักษาความปลอดภัยของข้อมูลไว้เป็นระยะเวลาสามเดือนหลังปิดบัญชี
    หรือหนึ่งปีหลังบัญชีนั้นถูกแบน ในระหว่างช่วงเวลานี้
    เราจะเก็บรักษาข้อมูลของคุณไว้ในกรณีที่อาจมีความจำเป็นต้องนำมาประกอบการสืบสวนพฤติกรรมที่ผิดกฎหมายหรือเป็นอันตราย
    การเก็บรักษาข้อมูลในช่วงกรอบเวลารักษาความปลอดภัยนี้เป็นไปตามผลประโยชน์ของเราที่ชอบด้วยกฎหมาย
    และของบุคคลที่สามที่อาจตกเป็นเหยื่อได้')}}
  </li>
  <li>
    {{_('เมื่อกรอบเวลารักษาความปลอดภัยนี้สิ้นสุดลง เราจะลบข้อมูลของคุณ
    และจะเก็บข้อมูลบางส่วนไว้อย่างจำกัดตามเหตุผลที่ระบุด้านล่างนี้')}}
    <ul>
      <li>
        {{_('ก)
        เราเก็บรักษาข้อมูลบางส่วนอย่างจำกัดเพื่อปฏิบัติตามข้อกำหนดในการเก็บรักษาข้อมูลทางกฎหมาย:
        โดยละเอียดแล้ว เราเก็บข้อมูลธุรกรรมเป็นเวลา 10
        ปีเพื่อให้เป็นไปตามข้อกำหนดทางกฎหมายด้านภาษีและการบัญชี
        และเราเก็บข้อมูลบัตรเครดิตเฉพาะในช่วงระยะเวลาที่ผู้ใช้อาจเปลี่ยนแปลงธุรกรรมและ
        "ข้อมูลการเข้าชม"/บันทึก
        เป็นเวลาหนึ่งปีเพื่อปฏิบัติตามข้อกำหนดในการเก็บรักษาข้อมูลทางกฎหมาย
        นอกจากนี้
        เรายังเก็บประวัติความยินยอมของสมาชิกเป็นเวลาห้าปีเพื่อเป็นหลักฐานว่าเราการทำตามกฎหมายที่เกี่ยวข้อง')}}
      </li>
      <li>
        {{_('ข)
        เราเก็บรักษาข้อมูลบางส่วนอย่างจำกัดบนพื้นฐานของผลประโยชน์ของเราที่ชอบด้วยกฎหมาย:
        เราเก็บบันทึกการบริการดูแลลูกค้าและข้อมูลสนับสนุนอื่นๆ
        ตลอดจนโลเคชั่นแบบไม่ระบุแน่ชัดเมื่อลูกค้าดาวน์โหลด/ซื้อเป็นเวลาห้าปีเพื่อนำมาประกอบการตัดสินใจด้านการบริการดูแลลูกค้าของเรา
        บังคับใช้สิทธิของเรา และช่วยให้เราสามารถป้องกันตนเองได้หากมีข้อเรียกร้อง
        เรายังเก็บข้อมูลเกี่ยวกับบัญชีและแผนสมาชิกที่เคยเกิดขึ้นในอดีต
        ซึ่งเราจะลบภายในสามปีหลังจากมีการปิดบัญชีล่าสุดของคุณเพื่อให้แน่ใจว่ามีการคาดการณ์และการรายงานทางการเงินที่ถูกต้องและแม่นยำ
        และเราเก็บข้อมูลโปรไฟล์เป็นเวลาหนึ่งปีเพื่อการดำเนินคดีที่อาจมีขึ้น
        โดยเก็บไว้เพื่อสร้าง ดำเนินการ หรือปกป้องเราจากข้อเรียกร้องทางกฎหมาย
        และเก็บข้อมูลที่จำเป็นในการป้องกันไม่ให้สมาชิกที่ถูกแบนสร้างบัญชีใหม่ได้นานเท่าที่จำเป็นเพื่อความปลอดภัยและผลประโยชน์สูงสุดของสมาชิกของเรา')}}
      </li>
      <li>
        {{_('ค) ท้ายนี้
        เราเก็บรักษาข้อมูลไว้บนพื้นฐานของผลประโยชน์ของเราที่ชอบด้วยกฎหมาย
        ในกรณีที่มีหรืออาจมีปัญหา ข้อเรียกร้อง
        หรือข้อโต้แย้งที่บังคับให้เราเก็บข้อมูลไว้
        (โดยเฉพาะอย่างยิ่งหากเราได้รับหมายศาลที่ถูกต้องตามกฎหมาย
        หรือคำขอให้เราเก็บข้อมูลไว้
        (ในกรณีที่เราจำเป็นต้องเก็บข้อมูลไว้เพื่อปฏิบัติตามข้อกำหนดทางกฎหมาย)
        หรือหากข้อมูลนั้นมีความจำเป็นต่อการดำเนินการทางกฎหมาย)')}}
      </li>
    </ul>
  </li>
</ol>
<h2>{{_('10. ข้อมูลส่วนบุคคลของผู้เยาว์')}}</h2>
<p>
  {{_('บริการของเราจำกัดเฉพาะผู้ที่มีอายุ 18 ปีขึ้นไป
  เราไม่อนุญาตให้มีผู้ที่มีอายุต่ำกว่า 18 ปีใช้บริการบนแพลทฟอร์มของเรา
  หากคุณสงสัยว่ามีสมาชิกอายุต่ำกว่า 18 ปี
  กรุณาใช้ช่องทางการรายงานที่มีในบริการเพื่อแจ้งให้เราทราบ')}}
</p>
<h2>{{_('11. ผู้สมัครงาน ผู้รับเหมา และตัวแทนจำหน่าย')}}</h2>
<p>
  {{_('เรานำข้อมูลส่วนบุคคลของผู้สมัครงาน ผู้รับเหมา
  และตัวแทนจำหน่ายมาใช้เป็นส่วนหนึ่งในกระบวนการการจัดหาและบริหารทรัพยากรบุคคล
  และการจัดการบริการที่เราได้รับจากผู้รับเหมาและผู้ขาย หากคุณเป็นผู้สมัครงาน
  ผู้รับเหมา หรือตัวแทนจำหน่ายของ Tinder
  เราจะนำข้อมูลส่วนตัวของคุณไปใช้ตามข้อกำหนดบางประการที่เกี่ยวข้องในนโยบายความเป็นส่วนตัวนี้
  ซึ่งรวมถึงบางหมวดในนโยบายความเป็นส่วนตัวนี้ที่ระบุถึง
  หน่วยงานที่รับผิดชอบในการใช้งานข้อมูลส่วนบุคคลของคุณ การถ่ายโอนข้อมูลส่วนบุคคล
  สิทธิที่คุณอาจมีตามกฎหมายที่เกี่ยวข้อง วิธีติดต่อเรา
  และข้อมูลเฉพาะสำหรับแคลิฟอร์เนีย')}}
</p>
<p>
  {{_('หากคุณเป็นผู้สมัครงาน
  เราอาจใช้งานข้อมูลส่วนบุคคลของคุณในวิธีที่แตกต่างกันไปขึ้นอยู่กับตำแหน่งงานที่คุณสมัครมา
  แต่โดยทั่วไปแล้วเราจะใช้ข้อมูลที่คุณได้ให้เราไว้เป็นสำหรับสมัครงานของคุณ
  ซึ่งรวมถึงคุณสมบัติทางวิชาชีพ พื้นเพ
  และข้อมูลอ้างอิงที่นายหน้าหรือบุคคลที่สามแชร์กับเรา
  เราใช้ข้อมูลนี้เพื่อประกอบการจัดหาจัดจ้าง ซึ่งอาจนำไปสู่สัญญาการจ้างงาน
  สำหรับผู้รับเหมาและตัวแทนจำหน่าย
  เราอาจใช้ข้อมูลยืนยันตัวตนและข้อมูลที่เกี่ยวข้องกับงานตามความจำเป็นเพื่อบริหารความสัมพันธ์ของเรากับคุณและนายจ้างของคุณ
  ซึ่งมีความจำเป็นต่อการปฏิบัติตามข้อตกลงการให้บริการ และเพื่อสร้าง ดำเนินการ
  หรือปกป้องเราจากข้อเรียกร้องทางกฎหมายที่อาจเกิดขึ้น
  เราอาจแชร์ข้อมูลส่วนบุคคลของคุณกับผู้ให้บริการที่ช่วยเราในการจัดหาจัดจ้างและประมวลผลข้อมูลทางเทคนิค
  ตลอดจนกับบริษัทในเครือ Match Group (เช่น
  หากคุณมีความสัมพันธ์ทางธุรกิจกับพนักงานของบริษัทในเครือ)
  เราจะเก็บรักษาข้อมูลของคุณไว้นานเท่าที่จำเป็นสำหรับวัตถุประสงค์ที่ระบุไว้ข้างต้น')}}
</p>
<h2>{{_('12. การเปลี่ยนแปลงในนโยบายการคุ้มครองข้อมูลส่วนบุคคล')}}</h2>
<p>
  {{_('เพราะเราคอยมองหาวิธีและนวัตกรรมใหม่ๆ
  ที่จะช่วยให้คุณสร้างความสัมพันธ์ที่มีความหมาย
  และต้องการแน่ใจว่าเราได้ชี้แจงและอัพเดทวิธีที่เราใช้ข้อมูลให้เป็นปัจจุบันอยู่เสมอ
  นโยบายนี้จึงอาจมีการเปลี่ยนแปลงในอนาคต
  เราจะแจ้งให้คุณทราบก่อนที่จะมีการเปลี่ยนแปลงสำคัญใดๆ
  เพื่อให้คุณมีเวลาทบทวนการเปลี่ยนแปลงที่จะเกิดขึ้น')}}
</p>
{% endblock %}
