{% extends "_base.html" %} {% block content %}
<h1>
  {{_('ข้อกำหนดการใช้งาน')}}
</h1>
<hr />
<p>{{_('ปรับปรุงล่าสุดเมื่อ 19 พฤศจิกายน 2021')}}</p>
<h2>
  {{_(' 1. การยอมรับข้อตกลงในเงื่อนไขการใช้งาน ')}}
</h2>
<p>
  {{_('การสร้างบัญชี Tinder ไม่ว่าจะผ่านอุปกรณ์มือถือ แอพพลิเคชั่นมือถือ
  หรือคอมพิวเตอร์ (เรียกรวมว่า "บริการ") หมายความว่าคุณยินยอมที่จะผูกมัดตนเองตาม
  (1) ข้อกำหนดการใช้งาน (2)')}}
  <a href="{{url_for('legal.privacy')}}">
    {{_('นโยบายการคุ้มครองข้อมูลส่วนบุคคล')}}</a
  >
  <a href="{{url_for('legal.cookies_policy')}}"> {{_('นโยบายการใช้คุกกี้')}}</a>
  <a href="{{url_for('legal.cookies_policy')}}">
    {{_('กระบวนการอนุญาโตตุลการ')}}</a
  >
  (หากเกี่ยวข้องกับคุณ)
  <a href="{{url_for('legal.cookies_policy')}}">
    {{_('เคล็ดลับเพื่อความปลอดภัย')}}</a
  >
  {{_('และ')}}
  <a href="{{url_for('legal.cookies_policy')}}">
    {{_('หลักปฏิบัติของคอมมิวนิตี้')}}</a
  >
  {{_('ของเรา ซึ่งแต่ละส่วนได้ถูกรวบรวมไว้เพื่อใช้อ้างอิงกับข้อตกลงฉบับนี้ และ
  (3) ข้อกำหนดใดๆ ที่คุณได้เปิดเผยและยอมรับ หากคุณซื้อฟีเจอร์ ผลิตภัณฑ์
  หรือบริการเพิ่มเติมที่เรานำเสนอในบริการ (เรียกรวมว่า "ข้อตกลง" ฉบับนี้)
  หากคุณไม่ยอมรับและไม่ตกลงที่จะผูกมัดตนเองตามข้อกำหนดของข้อตกลงนี้
  โปรดอย่าใช้บริการนี้')}}
</p>
<p>
  {{_('เรามีสิทธิทำการเปลี่ยนแปลงข้อมูลในข้อตกลงนี้และในบริการเป็นครั้งคราวด้วยเหตุผลที่หลากหลาย
  รวมถึงเพื่อให้สอดคล้องกับการเปลี่ยนแปลงหรือข้อกำหนดที่มีในกฎหมาย ฟีเจอร์ใหม่ๆ
  หรือการเปลี่ยนแปลงในแนวปฏิบัติทางธุรกิจ
  ข้อตกลงเวอร์ชั่นล่าสุดจะลงประกาศไว้บนบริการ ภายใต้หัวข้อ "การตั้งค่า"
  และรวมทั้งที่ gotinder.com
  และคุณควรตรวจสอบเวอร์ชั่นที่เป็นปัจจุบันที่สุดอยู่เสมอ
  เวอร์ชั่นล่าสุดคือเวอร์ชั่นที่จะมีผลบังคับใช้
  ถ้าหากการเปลี่ยนแปลงที่เกิดขึ้นครอบคลุมการเปลี่ยนแปลงเนื้อหาที่มีผลต่อสิทธิหรือพันธะผูกมัดของคุณ
  เราจะแจ้งให้คุณทราบล่วงหน้าอย่างน้อย 30 วันถึงการเปลี่ยนแปลงนั้นๆ
  (เว้นแต่เราจะไม่สามารถทำได้เนื่องจากกฎหมายที่บังคับใช้) ด้วยวิธีการที่เหมาะสม
  รวมถึงการแจ้งเตือนผ่านบริการหรือทางอีเมล
  หากคุณยังใช้บริการต่อไปหลังจากที่การเปลี่ยนแปลงมีผลบังคับ
  นั่นหมายถึงคุณยอมรับในข้อตกลงที่มีการแก้ไขปรับปรุง')}}
</p>
<h2>
  {{_('2. คุณสมบัติของผู้ใช้')}}
</h2>
<p>
  {{_('คุณไม่ได้รับอนุญาตให้สร้างบัญชี เข้าถึง หรือใช้บริการหรือระบบที่มีอยู่
  หากคุณไม่ตรงตามเกณฑ์ดังต่อไปนี้')}}
</p>
<ul>
  <li>
    {{_('คุณมีอายุอย่างน้อย 18 ปี')}}
  </li>
  <li>
    {{_('คุณสามารถสร้างสัญญาผูกพันกับ Tinder')}}
  </li>
  <li>
    {{_('คุณไม่ใช่บุคคลที่ถูกสั่งห้ามไม่ให้ใช้บริการภายใต้กฎหมายของสหรัฐอเมริกา
    หรือภายใต้เขตอำนาจทางกฎหมายอื่นใดที่มี (ตัวอย่างเช่น
    คุณไม่ได้มีชื่ออยู่บนบัญชีรายชื่อประเทศที่ถูกจับตามองเป็นพิเศษ (Specially
    Designated Nationals) ของกระทรวงการคลังแห่งสหรัฐอเมริกา
    หรือถูกต้องห้ามในลักษณะที่คล้ายคลึงกันอื่นใด)')}}
  </li>
  <li>
    {{_('คุณจะปฏิบัติตามข้อตกลงนี้ และปฏิบัติตามกฎหมาย ข้อบังคับ
    และกฎเกณฑ์ในระดับท้องถิ่น รัฐ ประเทศ และระหว่างประเทศทั้งหมดที่เกี่ยวข้อง
    และ')}}
  </li>
  <li>
    {{_('คุณไม่เคยถูกตัดสินว่ามีความผิดในคดีอาชญากรรม หรือความผิดอาญาอุกฉกรรจ์
    (หรือคดีอาชญากรรมที่มีความร้ายแรงในระดับใกล้เคียงกัน) อาชญากรรมทางเพศ
    หรือก่ออาชญากรรมใดๆ ที่เกี่ยวข้องกับความรุนแรง
    และคุณจะต้องไม่ถูกคำสั่งให้ลงทะเบียนในฐานะผู้ล่วงละเมิดทางเพศในบัญชีผู้ล่วงละเมิดทางเพศ
    ไม่ว่ากับรัฐ รัฐบาลกลางหรือรัฐบาลท้องถิ่นใดๆ')}}
  </li>
</ul>
<h2>{{_('3. บัญชีของคุณ')}}</h2>
<p>
  {{_('คุณสามารถลงชื่อเข้าใช้งาน Tinder ได้หลายช่องทาง
  ซึ่งรวมถึงการลงชื่อเข้าใช้ด้วยบัญชี Facebook หากคุณเลือกลงชื่อเขาใช้ด้วยบัญชี
  Facebook หมายความว่าคุณอนุญาตให้เราเข้าถึงและใช้ข้อมูลบางส่วนจากบัญชี Facebook
  ของคุณ ซึ่งรวมถึงแต่ไม่จำกัดเพียงรูปโปรไฟล์สาธารณะบน Facebook ของคุณ
  คุณสามารถดูรายละเอียดเพิ่มเติมเกี่ยวกับข้อมูลที่เราเก็บรวบรวมจากคุณและวิธีการที่เราใช้ข้อมูลนั้นได้ที่ี')}}
  <a href="{{url_for('legal.privacy')}}">นโยบายความเป็นส่วนตัว</a>
  {{_('ของเรา')}}
</p>
<p>
  {{_('การรักษาความลับของข้อมูลการเข้าสู่ระบบที่คุณใช้เพื่อลงชื่อเข้าใช้ Tinder
  ถือเป็นความรับผิดชอบของคุณ
  และคุณเป็นผู้รับผิดชอบสำหรับกิจกรรมทั้งหมดที่เกิดขึ้นภายใต้ข้อมูลประจำตัวเหล่านั้นแต่เพียงผู้เดียว
  หากคุณสงสัยว่ามีคนเข้าถึงบัญชีของคุณ โปรด ติดต่อเรา ทันที')}}
</p>
<h2>{{_('4. การแก้ไขเปลี่ยนแปลงบริการและการยกเลิกการใช้งาน')}}</h2>
<p>
  {{_('Tinder มุ่งมั่นและให้ความสำคัญกับการปรับปรุงบริการนี้
  รวมถึงการนำเสนอฟังก์ชั่นการใช้งานเพิ่มเติมที่น่าสนใจและมีประโยชน์แก่คุณอยู่เสมอ
  ซึ่งหมายความว่า เราอาจเพิ่มฟีเจอร์ใหม่ๆ ของผลิตภัณฑ์
  หรือเสริมประสิทธิภาพเป็นครั้งคราว เช่นเดียวกับการดึงบางฟีเจอร์ออก
  และในกรณีที่การดำเนินการดังกล่าวไม่ได้ส่งผลกระทบต่อสิทธิหรือข้อผูกมัดของคุณอย่างมีนัยยะสำคัญ
  เราอาจไม่จำเป็นต้องแจ้งคุณล่วงหน้าก่อนที่จะกระทำการใดๆ
  เราอาจระงับการใช้งานทั้งหมดของบริการนี้ ซึ่งในกรณีดังกล่าว
  เราจะทำการแจ้งให้คุณทราบล่วงหน้า เว้นเสียแต่ว่าเกิดเหตุขัดข้อง เช่น
  ข้อกังวลด้านความปลอดภัย หรือการรักษาความปลอดภัย
  อาจทำให้เราไม่สามารถแจ้งคุณได้ล่วงหน้า')}}
</p>
<p>
  {{_('คุณสามารถยกเลิกบัญชีของคุณได้ทุกเวลา และไม่ว่าด้วยเหตุผลใดก็ตาม
  ด้วยการปฏิบัติตามคำแนะนำที่ระบุใน "เมนูการตั้งค่า" ในบริการนี้
  หากคุณชำระเงินผ่านบัญชีชำระเงินของบุคคลที่สาม เช่น App Store หรือ iTunes Store
  ของ Apple แล้วแต่กรณี ("App Store") หรือ Google Play Store
  คุณจะต้องจัดการการซื้อภายในแอพผ่านบัญชีดังกล่าวเพื่อไม่ให้โดนเรียกเก็บเงินเพิ่มเติม
  Tinder อาจยกเลิกบัญชีของคุณได้ทุกเมื่อโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
  หากบริษัทเชื่อว่าคุณได้ฝ่าฝืนข้อตกลงฉบับนี้ หากคุณโดนยกเลิกบัญชีในกรณีดังกล่าว
  คุณจะไม่มีสิทธิได้รับเงินคืนการจากซื้อใดๆ')}}
</p>
<p>
  {{_('สำหรับผู้ที่พำนักอยู่ในสาธารณรัฐเกาหลี
  ยกเว้นในกรณีที่เราพิจารณาตามสมควรแล้วว่า (ก)
  การแจ้งให้ทราบเป็นสิ่งต้องห้ามตามกฎหมาย (ตัวอย่างเช่น
  เมื่อการแจ้งเตือนนั้นอาจเป็นการละเมิดกฎหมาย ข้อบังคับ
  หรือคำสั่งที่เกี่ยวข้องจากหน่วยงานกำกับดูแล
  หรือเป็นการประนีประนอมการสอบสวนที่กำลังดำเนินอยู่
  ซึ่งได้รับการดำเนินการโดยหน่วยงานกำกับดูแล) หรือ (ข) การแจ้งเตือนใดๆ
  อาจก่อให้เกิดอันตรายต่อคุณ ต่อบุคคลที่สาม ต่อ Tinder
  และ/หรือต่อบริษัทในเครือของเรา (ตัวอย่างเช่น
  เมื่อการแจ้งเตือนนั้นจะเป็นอันตรายต่อความปลอดภัยของบริการ)
  เราจะแจ้งให้คุณทราบถึงเหตุผลในการดำเนินการตามขั้นตอนที่เกี่ยวข้องโดยทันที
  หลังจากที่บัญชีถูกยกเลิกแล้ว ข้อตกลงนี้จะสิ้นสุดตามด้วย
  ยกเว้นข้อกำหนดดังต่อไปนี้ที่จะยังคงมีผลบังคับใช้กับคุณและ Tinder: หัวข้อที่ 4
  หัวข้อที่ 5 และหัวข้อที่ 12 ไปจนถึงหัวข้อที่ 19')}}
</p>
<h2>5. ความปลอดภัยว่าด้วยการมีปฏิสัมพันธ์กับสมาชิกท่านอื่น</h2>
<p>
  {{_('แม้ Tinder
  จะมุ่งมั่นส่งเสริมให้สมาชิกมีประสบการณ์ที่เคารพซึ่งกันและกันผ่านฟีเจอร์ต่างๆ
  เช่น
  การเลือกเข้าร่วมของทั้งสองฝ่ายซึ่งจะให้สมาชิกสื่อสารกันได้เฉพาะหลังจากที่ทั้งสองฝ่ายต่างสนใจในกันและกันเท่านั้น
  แต่ Tinder ไม่ต้องรับผิดชอบต่อพฤติกรรมของสมาชิกทั้งภายในและภายนอกบริการนี้
  คุณตกลงที่จะใช้ความระมัดระวังในการมีปฏิสัมพันธ์กับสมาชิกท่านอื่น
  โดยเฉพาะอย่างยิ่งหากคุณตัดสินใจจะติดต่อสื่อสารนอกบริการนี้หรือนัดพบปะเป็นการส่วนตัว
  นอกจากนี้คุณตกลงที่จะศึกษาและปฏิบัติตาม')}}
  <a href="#">
    {{_('เคล็ดลับเพื่อความปลอดภัย')}}
  </a>
  {{_('ของ Tinder ก่อนใช้บริการนี้ คุณตกลงที่จะไม่มอบข้อมูลทางการเงิน (เช่น
  ข้อมูลบัตรเครดิต หรือบัญชีธนาคาร) หรือโอนเงิน,
  ส่งเงินด้วยวิธีการอื่นใดแก่สมาชิกท่านอื่น')}}
</p>
<p>
  {{_('คุณจะเป็นผู้รับผิดชอบต่อการมีปฏิสัมพันธ์กับสมาชิกคนอื่นแต่เพียงผู้เดียว
  คุณเข้าใจดีว่า TINDER ไม่ได้ตรวจสอบประวัติอาชญากรรมของสมาชิก
  และไม่ได้เก็บข้อมูลภูมิหลังใดๆ ของสมาชิก TINDER
  ไม่รับรองหรือรับประกันพฤติกรรมหรือความเข้ากันได้ของสมาชิก')}}
</p>
<h2>{{_('6. สิทธิที่ Tinder มอบให้คุณ')}}</h2>
<p>
  {{_('Tinder ให้ไลเซนส์คุณในการเข้าถึงและใช้บริการแบบส่วนบุคคลได้ทั่วโลก
  โดยไม่มีค่าลิขสิทธิ์ และไม่สามารถโอน จำกัด เพิกถอน
  หรือรับช่วงอนุญาตสิทธิการใช้งานได้ โดยไลเซนส์นี้มีวัตถุประสงค์เดียว
  นั่นก็คือเพื่อเปิดโอกาสให้คุณได้ใช้และเพลิดเพลินกับสิทธิประโยชน์ต่างๆ
  ของบริการตามที่ Tinder ได้กำหนดและอนุญาตไว้ในข้อตกลงนี้
  ไลเซนส์นี้หรือคำอนุญาตให้เข้าถึงบริการจะถูกยกเลิกโดยอัตโนมัติหากคุณมีพฤติกรรมดังต่อไปนี้:')}}
</p>
<ul>
  <li>
    {{_('ใช้บริการนี้ หรือคอนเทนท์ใดๆ
    ที่ประกอบในบริการนี้เพื่อวัตถุประสงค์ในเชิงพาณิชย์
    โดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษร')}}
  </li>
  <li>
    {{_('คัดลอก ดัดแปลง ส่ง สร้างชิ้นงานลอกเลียนจาก ใช้ประโยชน์จาก
    หรือทำสำเนาไม่ว่าด้วยวิธีการใดๆ ไม่ว่ากับส่วนประกอบที่สงวนลิขสิทธิ์ใดๆ
    รูปภาพ เครื่องหมายการค้า ชื่อทางการค้า เครื่องหมายบริการ
    หรือทรัพย์สินทางปัญญาอื่นๆ เนื้อหา หรือข้อมูลที่มีกรรมสิทธิ์
    ที่สามารถเข้าถึงได้จากบริการนี้โดยไม่ได้รับการอนุญาตล่วงหน้าเป็นลายลักษณอักษรจาก
    Tinder')}}
  </li>
  <li>
    {{_('แสดงออก หรือบอกเป็นนัยว่าถ้อยความใดๆ ที่คุณแถลงได้รับความเห็นชอบจาก
    Tinder')}}
  </li>
  <li>
    {{_('ใช้โรบอต, บอต, สไปเดอร์, ครอว์เลอร์, สเครปเปอร์,
    แอพพลิเคชั่นค้นหาเว็บไซต์/เรียกดูข้อมูล, พร็อกซี่,
    หรืออุปกรณ์ที่ดำเนินการด้วยตัวเองหรืออัตโนมัติอื่นๆ, วิธีการหรือกระบวนการใดๆ
    เพื่อเข้าถึง, เรียกดู, ทำดัชนี, "ทำเหมืองข้อมูล" หรือในวิธีการใดๆ
    ก็ตามที่เป็นการผลิตซ้ำหรือหลบเลี่ยงโครงสร้างการนำทางหรือการนำเสนอของบริการหรือคอนเทนท์ของบริการ')}}
  </li>
  <li>
    {{_('ใช้บริการนี้ในทางใดๆ ที่อาจทำให้เกิดการแทรกแซง ชะงัก
    หรือส่งผลกระทบทางลบต่อบริการนี้ หรือเซิร์ฟเวอร์
    หรือเครือข่ายที่เชื่อมต่อกับบริการนี้')}}
  </li>
  <li>
    {{_('อัพโหลดไวรัส หรือโค้ดอันตราย
    หรือไม่ว่าในกรณีอื่นใดที่อาจทำให้เกิดความสุ่มเสี่ยงด้านความปลอดภัยของบริการนี้')}}
  </li>
  <li>
    {{_('ปลอมแปลงหัวเว็บไซต์
    หรือไม่ว่าในกรณีอื่นใดที่เป็นการเปลี่ยนแปลงตัวบ่งชี้ต่างๆ
    เพื่อที่จะปิดบังแหล่งข้อมูลที่ส่งข้อมูลใดๆ ไปยังหรือผ่านบริการนี้')}}
  </li>
  <li>
    {{_('"เฟรม" หรือ "มิร์เรอร์"
    ส่วนหนึ่งส่วนใดของบริการโดยไม่ได้รับการอนุญาตเป็นลายลักษณ์อักษรล่วงหน้าจาก
    Tinder')}}
  </li>
  <li>
    {{_('ใช้เมต้าแท็ก (Metatag) หรือโค้ด หรืออุปกรณ์อื่นๆ
    ที่ประกอบด้วยส่วนอ้างอิงใดๆ ถึง Tinder หรือบริการนี้ (หรือเครื่องหมายการค้า
    ชื่อทางการค้า เครื่องหมายบริการ โลโก้ หรือสโลแกนใดๆ ของ Tinder)
    เพื่อชี้นำบุคคลใดๆ ออกไปยังเว็บไซต์อื่นใดเพื่อวัตถุประสงค์ใดๆ ก็ตาม')}}
  </li>
  <li>
    {{_('แก้ไข ดัดแปลง ให้ช่วงสิทธิ แปล ขาย เปลี่ยนแปลงทางวิศวกรรม ถอดรหัส
    แปลย้อนกลับ หรือไม่ว่าในกรณีอื่นใดที่เป็นการแยกส่วนใดๆ ของบริการนี้
    หรือเป็นต้นเหตุให้บุคคลอื่นกระทำการดังกล่าว')}}
  </li>
  <li>
    {{_('ใช้หรือพัฒนาแอพพลิเคชั่นของบุคคลที่สามที่โต้ตอบกับบริการหรือคอนเทนท์หรือข้อมูลของสมาชิกท่านอื่นๆ
    โดยไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากเรา')}}
  </li>
  <li>
    {{_('ใช้ เข้าถึง หรือเผยแพร่โปรแกรมอินเทอร์เฟซของแอพพลิเคชั่น Tinder
    โดยไม่ได้การอนุญาตเป็นลายลักษณ์อักษร')}}
  </li>
  <li>
    {{_('ตรวจสอบ สแกน หรือทดสอบความไม่มั่นคงของบริการนี้ หรือระบบใดๆ
    หรือเครือข่ายของเรา')}}
  </li>
  <li>{{_('สนับสนุน หรือส่งเสริมกิจกรรมใดๆ ที่ฝ่าฝืนข้อตกลงนี้')}}</li>
</ul>
<p>
  {{_('Tinder อาจสืบสวนและดำเนินคดีทางกฎหมายใดๆ หากมีการใช้บริการอย่างผิดกฎหมาย
  หรือโดยไม่ได้รับอนุญาต ซึ่งรวมถึงยกเลิกบัญชีของคุณด้วย')}}
</p>
<p>
  {{_('ซอฟต์แวร์ใดๆ ที่เราจัดหาไว้ให้คุณอาจจะดาวน์โหลดและติดตั้งการอัพเกรด
  อัพเดท หรือฟีเจอร์ใหม่ๆ เองโดยอัตโนมัติ
  คุณมีสิทธิแก้ไขการดาวน์โหลดอัตโนมัติเหล่านี้ได้ผ่านการตั้งค่าในอุปกรณ์ของคุณ')}}
</p>
<h2>{{_('7. สิทธิที่คุณมอบแก่ Tinder')}}</h2>
<p>
  {{_('ในการสร้างบัญชีของคุณหมายความว่า คุณมอบสิทธิและไลเซนส์ให้ Tinder
  ในลักษณะที่ครอบคลุมไปทั่วโลก ถ่ายโอนได้ ให้ใช้สิทธิช่วงได้
  ปราศจากค่าธรรมเนียมสิทธิ ที่จะโฮสต์ จัดเก็บ ใช้งาน ทำสำเนา แสดง ทำซ้ำ
  เปลี่ยนแปลง แก้ไข เผยแพร่ ดัดแปลง
  และแจกจ่ายข้อมูลที่คุณอนุญาตให้เราเข้าถึงจากบุคคลที่สาม เช่น จาก Facebook
  และรวมถึงข้อมูลที่คุณโพสท์ อัพโหลด แสดง หรือทำให้เข้าถึงได้ในบริการ
  (เรียกรวมว่า "โพสท์") หรือส่งต่อให้กับสมาชิกท่านอื่นๆ (เรียกรวมว่า "คอนเทนท์")
  ไลเซนส์ของ Tinder สำหรับคอนเทนท์ของคุณนั้นเป็นแบบไม่ผูกขาด แต่ไลเซนส์ของ
  Tinder จะเป็นแบบผูกขาดในแง่ของงานที่ถูกสร้างขึ้นผ่านการใช้บริการ ตัวอย่างเช่น
  Tinder จะมีสิทธิผูกขาดสำหรับสกรีนช็อตที่มีคอนเทนท์ของคุณอยู่ นอกจากนี้เพื่อให้
  Tinder สามารถป้องกันการใช้คอนเทนท์ของคุณนอกบริการ คุณอนุญาตให้ Tinder
  ดำเนินการในนามของคุณในแง่ของการละเมิดการใช้งานคอนเทนท์ของคุณจากบริการโดยสมาชิกท่านอื่นหรือบุคคลที่สามได้
  โดยการอนุญาตดังกล่าวครอบคลุมถึงการที่หน่วยงานกำกับดูแล (แต่ไม่บังคับ)
  ส่งหนังสือแจ้งตามข้อกำหนดที่ 17 U.S.C. § 512(c)(3) (กล่าวคือ
  หนังสือแจ้งการเพิกถอน DMCA)
  ในนามของคุณในกรณีที่คอนเทนท์ของคุณถูกนำมาใช้โดยบุคคลที่สามนอกบริการ
  ไลเซนส์ของเราในการใช้คอนเทนท์ของคุณถือเป็นสิทธิของคุณภายใต้กฎหมายที่บังคับใช้
  (ตัวอย่างเช่น
  กฎหมายที่เกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลตามขอบเขตคอนเทนท์ที่มีข้อมูลส่วนบุคคลปรากฏ
  ตามที่กำหนดไว้ในกฎหมายเหล่านั้น) และเพื่อวัตถุประสงค์เฉพาะในการดำเนินงาน
  การสร้าง การจัดเสนอ และการปรับปรุงบริการ รวมถึงการวิจัยและพัฒนาใหม่ๆ
  คุณยอมรับว่าสมาชิกท่านอื่นและบุคคลอื่นที่เข้าชมหรือเข้าร่วมในบริการ (เช่น
  บุคคลอื่นที่อาจได้รับคอนเทนท์ที่แชร์มาจากสมาชิก Tinder คนอื่นๆ)
  สามารถดูคอนเทนท์ใดๆ ที่คุณเสนอหรือที่คุณอนุญาตให้เราเสนอในบริการได้')}}
</p>
<p>
  {{_('คุณยอมรับว่าข้อมูลทั้งหมดที่คุณส่งมอบระหว่างการสร้างบัญชีของคุณ
  รวมถึงข้อมูลที่มีการส่งมอบจากบัญชี Facebook ของคุณ
  เป็นข้อมูลที่ถูกต้องและเป็นความจริง และคุณมีสิทธิในการโพสท์เนื้อหาในบริการนี้
  และมอบสิทธิอนุญาตให้แก่ Tinder ดังที่กล่าวไว้ข้างต้น')}}
</p>
<p>
  {{_('คุณเข้าใจและยอมรับว่าเราอาจจะติดตาม หรือตรวจสอบเนื้อหาใดๆ ที่คุณโพสท์
  ซึ่งถือเป็นส่วนหนึ่งของบริการนี้ เราอาจทำการลบเนื้อหาใดๆ
  ไม่ว่าจะทั้งหมดหรือบางส่วน
  โดยขึ้นกับวิจารณญาณของเราแต่เพียงผู้เดียวว่ามีการละเมิดสัญญานี้
  หรืออาจมีการทำให้เสื่อมเสียชื่อเสียงของบริการนี้')}}
</p>
<p>
  {{_('เมื่อต้องสื่อสารกับตัวแทนฝ่ายดูแลลูกค้าของเรา
  คุณยอมรับที่จะให้ความเคารพและแสดงออกอย่างนุ่มนวล
  หากเรารู้สึกว่าพฤติกรรมของคุณที่มีต่อตัวแทนฝ่ายดูแลลูกค้าคนใดของเราหรือพนักงานของเราเป็นการคุกคาม
  ก่อกวน หรือก้าวร้าว ไม่ว่าในเวลาไหนก็ตาม
  เราขอสงวนสิทธิ์ในยกเลิกบัญชีของคุณโดยทันที')}}
</p>
<p>
  {{_('เนื่องจาก Tinder อนุญาตให้คุณใช้บริการนี้ คุณยอมรับว่าเรา บริษัทในเครือ
  และพันธมิตรจากบริษัทภายนอกอาจลงโฆษณาในบริการนี้ได้
  โดยการส่งคำแนะนำหรือข้อติชมให้กับ Tinder ในเรื่องเกี่ยวกับบริการของเรา
  คุณยอมรับว่า Tinder
  อาจใช้หรือแชร์คำแนะนำดังกล่าวไม่ว่าจะด้วยวัตถุประสงค์ใดก็ตาม
  โดยไม่ต้องจ่ายค่าตอบแทนแก่คุณ')}}
</p>
<p>
  {{_('โปรดทราบว่าในการทำข้อตกลงนี้กับคุณ Tinder อาจเข้าถึง จัดเก็บ
  และเปิดเผยข้อมูลบัญชีและคอนเทนท์ของคุณตามที่กฎหมายกำหนด
  หรือกระทำด้วยความเชื่อโดยสุจริตว่า การเข้าถึง จัดเก็บ
  หรือเปิดเผยดังกล่าวเป็นการกระทำที่ชอบด้วยกฎหมาย รวมทั้งเป็น (1)
  การปฏิบัติตามกระบวนการทางกฎหมาย (2) การบังคับใช้ตามข้อตกลงฉบับนี้ (3)
  การกระทำตามข้อร้องเรียนว่ามีคอนเทนท์ที่ละเมิดสิทธิของบุคคลที่สาม (4)
  การกระทำตามคำร้องขอของคุณว่าด้วยการบริการลูกค้า หรือ (5) การปกป้องสิทธิ
  ทรัพย์สิน หรือความปลอดภัยส่วนบุคคลของบริษัทฯ หรือบุคคลอื่น')}}
</p>
<h2>{{_('8. กฎเกณฑ์ของชุมชน')}}</h2>
<p>{{_('การตกลงใช้บริการนี้หมายความว่าคุณยินยอมที่จะไม่:')}}</p>
<ul>
  <li>
    {{_('ใช้บริการนี้โดยมีวัตถุประสงค์ใดๆ ที่ขัดต่อกฎหมาย
    หรือเป็นข้อห้ามของข้อตกลงนี้')}}
  </li>
  <li>{{_('ใช้บริการเพื่อวัตถุประสงค์ที่เป็นอันตรายหรือชั่วร้ายใดๆ')}}</li>
  <li>{{_('ใช้บริการเพื่อทำลาย Tinder')}}</li>
  <li>
    {{_('ละเมิด')}}
    <a href="#">{{_('หลักเกณฑ์ของชุมชน')}}</a>
    {{_('ของเรา ซึ่งได้รับการปรับปรุงเป็นครั้งคราว')}}
  </li>
  <li>{{_('สร้างสแปม เรียกร้องเงิน หรือล่อลวงสมาชิกท่านอื่น')}}</li>
  <li>
    {{_('ปลอมตัวเป็นบุคคล หรือองค์กรใดๆ หรือโพสท์รูปภาพใดๆ
    ของบุคคลอื่นโดยไม่ได้รับอนุญาตจากบุคคลนั้น')}}
  </li>
  <li>
    {{_('กลั่นแกล้ง "ไล่ตาม" ข่มขู่ ทำร้ายร่างกาย คุกคาม ทารุณ
    หรือหมิ่นประมาทบุคคลใดๆ')}}
  </li>
  <li>
    {{_('โพสท์คอนเทนท์ที่ฝ่าฝืนหรือละเมิดสิทธิของผู้ใดผู้หนึ่ง
    รวมถึงสิทธิของการเผยแพร่ประชาสัมพันธ์ ความเป็นส่วนตัว ลิขสิทธิ์
    เครื่องหมายการค้า หรือทรัพย์สินทางปัญญาหรือสิทธิในทางสัญญาอื่นๆ')}}
  </li>
  <li>
    {{_('โพสท์คอนเทนท์ที่เป็นคำพูดแสดงความเกลียดชัง ข่มขู่
    เกี่ยวกับเรื่องทางเพศอย่างโจ่งแจ้ง หรือลามกอนาจาร')}}
  </li>
  <li>
    {{_('โพสท์คอนเทนท์ที่ก่อให้เกิดความรุนแรง หรือมีภาพเปลือย
    มีภาพแสดงความรุนแรงหรือรูปความรุนแรงที่ไม่จำเป็น')}}
  </li>
  <li>
    {{_('โพสท์เนื้อหาใดๆ ที่เป็นการส่งเสริมการเหยียดเชื้อชาติ คลั่งศาสนา
    ความเกลียดชัง หรือการทำร้ายร่างกาย ไม่ว่าจะต่อกลุ่มใด หรือบุคคลใดก็ตาม')}}
  </li>
  <li>
    {{_('เรียกร้องขอรหัสผ่านเพื่อวัตถุประสงค์ใดๆ
    หรือขอข้อมูลระบุตัวตนเพื่อวัตถุประสงค์ในเชิงพาณิชย์หรือวัตถุประสงค์ที่ไม่ชอบด้วยกฎหมายจากสมาชิกท่านอื่นๆ
    หรือเผยแพร่ข้อมูลส่วนบุคคลของบุคคลอื่น โดยไม่ได้รับอนุญาตจากบุคคลนั้น')}}
  </li>
  <li>
    {{_('ใช้บัญชีของสมาชิกท่านอื่น แชร์บัญชีกับสมาชิกท่านอื่น
    หรือมีมากกว่าหนึ่งบัญชี')}}
  </li>
  <li>
    {{_('สร้างบัญชีอื่นหลังจากที่เราปิดบัญชีของคุณไปแล้ว
    เว้นเสียแต่ว่าคุณได้รับการอนุญาตจากเรา')}}
  </li>
</ul>
<p>
  {{_('Tinder
  ขอสงวนสิทธิ์ในการตรวจสอบและ/หรือยกเลิกบัญชีของคุณโดยไม่คืนเงินสำหรับการซื้อใดๆ
  หากคุณละเมิดข้อตกลงนี้ ใช้บริการในทางที่ผิด หรือประพฤติในลักษณะที่ Tinder
  เห็นว่าไม่เหมาะสมหรือผิดกฎหมาย
  ซึ่งรวมถึงการกระทำหรือการสื่อสารที่เกิดขึ้นทั้งในและนอกบริการ นอกจากนี้
  ในบางกรณี
  เราอาจยกเลิกบัญชีของคุณหากคุณละเมิดข้อกำหนดที่บังคับใช้ของธุรกิจในกลุ่ม Match
  Group นอกเหนือจาก Tinder ซึ่งรวมถึงบริการต่างๆ เช่น OkCupid, Plenty of Fish,
  Match, Meetic, BlackPeopleMeet, LoveScout24, OurTime, Pairs, ParPerfeito และ
  Twoo (ดูรายละเอียดเพิ่มเติม คลิกที่นี่)
  หากคุณละเมิดกฎเหล่านี้หรือหลักปฏิบัติของชุมชนของเรา
  เราจะเพิกถอนคำอนุญาตให้ใช้บริการของคุณโดยอัตโนมัติ')}}
</p>
<h2>{{_('9. คอนเทนท์ของสมาชิกท่านอื่น')}}</h2>
<p>
  {{_('แม้ว่า Tinder
  จะสงวนสิทธิ์ในการตรวจสอบและลบคอนเทนท์ที่ละเมิดข้อตกลงฉบับนี้
  คอนเทนท์ดังกล่าวถือเป็นความรับผิดชอบของสมาชิกที่ทำการโพสต์แต่เพียงผู้เดียวเท่านั้น
  และ Tinder ไม่สามารถรับประกันได้ว่าคอนเทนท์ทั้งหมดจะเป็นไปตามข้อตกลงนี้
  หากคุณเห็นคอนเทนท์ที่ละเมิดข้อตกลงนี้ โปรดส่งรายงานภายในบริการหรือผ่าน
  แบบฟอร์มการติดต่อของเรา')}}
</p>
<h2>{{_('10. การซื้อ')}}</h2>
<p>
  {{_('โดยทั่วไปแล้ว Tinder อาจนำเสนอผลิตภัณฑ์และบริการให้คุณซื้อเป็นครั้งคราว
  ("การซื้อภายในแอพ") ผ่าน App Store, Google Play Store,
  การเรียกเก็บเงินผ่านผู้ให้บริการ, การเรียกเก็บเงินโดยตรงจาก Tinder
  หรือแพลตฟอร์มการชำระเงินอื่นๆ ที่ได้รับอนุญาตจาก Tinder
  หากคุณทำการซื้อภายในแอพ
  เราจะขอให้คุณยืนยันการซื้อกับผู้ให้บริการชำระเงินที่เกี่ยวข้อง
  และจะเรียกเก็บเงินจากช่องทางชำระเงินที่คุณเลือก
  (ไม่ว่าจะเป็นบัตรหรือบัญชีของบุคคลภายนอก เช่น Google Play Store หรือ App Store
  ("ช่องทางชำระเงิน" ของคุณ)
  สำหรับการซื้อภายในแอพตามราคาที่แสดงไว้สำหรับบริการที่คุณเลือก
  ซึ่งรวมถึงภาษีการขายหรือภาษีอื่นๆ
  ที่คล้ายกันซึ่งอาจมีการเรียกเก็บรวมอยู่ในการชำระเงินของคุณ และคุณได้อนุญาตให้
  Tinder หรือบัญชีบุคคลภายนอกที่เกี่ยวข้องเรียกเก็บเงินจากคุณได้')}}
</p>
<p><strong>{{_('การต่ออายุอัตโนมัติและการชำระบัตรอัตโนมัติ')}}</strong></p>
<p>
  {{_('หากคุณสมัครสมาชิกที่มีการเรียกเก็บเงินอัตโนมัติตามช่วงเวลาที่กำหนดผ่านการซื้อภายในแอพ
  คุณจะถูกเรียกเก็บเงินค่าสมาชิกผ่านวิธีการเรียกเก็บเงินที่ได้ให้ไว้โดยต่อเนื่องจนกว่าจะทำการยกเลิก
  หลังจากพ้นระยะผูกมัดการเป็นสมาชิกระยะเริ่มต้นของคุณรวมทั้งหลังจากช่วงเวลาการบอกรับเป็นสมาชิกต่อเนื่อง
  ความเป็นสมาชิกของคุณจะได้รับการต่ออายุเพิ่มเป็นเวลาที่เท่ากันโดยอัตโนมัติ
  ในราคาที่คุณตกลงไว้เมื่อขอสมัครเป็นสมาชิก
  ข้อมูลการชำระเงินด้วยบัตรของคุณจะถูกจัดเก็บและนำไปใช้ในการชำระเงินด้วยบัตรอัตโนมัติในภายหลังตามข้อตกลง')}}
</p>
<p>
  {{_('กรุณาส่งคำร้องคัดค้านการชำระเงินที่เกิดขึ้นแล้วไปที่ฝ่ายบริการช่วยเหลือลูกค้า
  หากคุณถูกเรียกเก็บเงินโดยตรงจาก Tinder หรือจากบัญชีบุคคลที่สามที่เกี่ยวข้อง
  เช่น App Store
  นอกจากนี้คุณยังทำการคัดค้านได้โดยการติดต่อไปยังธนาคารหรือผู้ให้บริการการชำระเงินของคุณ
  ซึ่งสามารถให้ข้อมูลเพิ่มเติมเกี่ยวกับสิทธิของคุณรวมถึงข้อจำกัดทางด้านเวลาด้วยได้
  คุณมีสิทธิเพิกถอนความยินยอมให้ชำระเงินผ่านบัตรโดยอัตโนมัติได้ทุกเมื่อโดยไม่มีเงื่อนไขโดยไปที่เมนูการตั้งค่าใน
  Tinder หรือบัญชีบุคคลที่สามที่เกี่ยวข้อง
  แต่โปรดทราบว่าคุณยังต้องชำระยอดคงค้างที่เหลืออยู่ให้เสร็จสิ้น')}}
</p>
<p>
  {{_('หากต้องการเปลี่ยนแปลงหรือยกเลิกการเป็นสมาชิก
  คุณจะต้องเข้าสู่ระบบในบัญชีบุคคลที่สามของคุณ (หรือเมนูการตั้งค่าใน Tinder
  แล้วแต่กรณี) และปฏิบัติตามวิธีการยุติหรือยกเลิกการเป็นสมาชิก
  แม้ว่าคุณจะได้ลบบัญชีที่มีกับบริษัทฯ หรือลบแอพพลิเคชั่น Tinder
  จากอุปกรณ์ของคุณแล้วก็ตาม การลบบัญชีของคุณใน Tinder หรือการลบแอพพลิเคชั่น
  Tinder จากอุปกรณ์ของคุณไม่ถือเป็นการยุติหรือยกเลิกการเป็นสมาชิกของคุณ ทาง
  Tinder จะยังคงเรียกเก็บเงินทั้งหมดตามวิธีการชำระเงินของคุณ
  จนกว่าคุณจะยุติหรือยกเลิกการเป็นสมาชิกใน Tinder หรือผ่านบัญชีบุคคลที่สาม
  หากยุติหรือยกเลิกการเป็นสมาชิก
  คุณยังมีสิทธิใช้บริการของสมาชิกได้จนกว่าจะสิ้นสุดอายุสมาชิกปัจจุบัน
  และระบบจะไม่ต่ออายุสมาชิกหลังจากที่รอบปัจจุบันสิ้นสุดลง')}}
</p>
<p>
  {{_('อาจมีการบังคับใช้ข้อกำหนดเพิ่มเติมหากคุณชำระเงินกับ Tinder
  โดยตรงด้วยวิธีการชำระเงินของคุณ หากคุณชำระเงินกับ Tinder โดยตรง Tinder
  มีสิทธิแก้ไขข้อผิดพลาดเรื่องการเรียกเก็บเงินหรือข้อผิดพลาดอื่นๆ ที่ปรากฏได้
  แม้ว่าจะได้เรียกเก็บหรือได้รับการชำระเงินนั้นไปแล้วก็ตาม
  หากคุณเริ่มดำเนินการปฏิเสธการชำระเงินหรือขอเรียกการชำระเงินคืนผ่านวิธีการชำระเงินของคุณ
  Tinder อาจยกเลิกบัญชีของคุณได้ทันทีตามดุลยพินิจของบริษัทฯ แต่เพียงผู้เดียว')}}
</p>
<p>
  {{_('คุณมีสิทธิแก้ไขข้อมูลวิธีการชำระเงินได้โดยเข้า Tinder
  และไปที่เมนูการตั้งค่า หากการชำระเงินนั้นยังไม่เสร็จสิ้น เนื่องจากบัตรหมดอายุ
  วงเงินไม่เพียงพอ หรือด้วยเหตุอื่นใด
  และคุณไม่ได้ทำการแก้ไขข้อมูลวิธีการชำระเงิน ยุติ หรือยกเลิกการเป็นสมาชิก
  ให้ถือว่าคุณยังคงต้องรับผิดชอบต่อยอดเงินที่ยังไม่ได้เรียกเก็บ
  และอนุญาตให้บริษัทฯ ดำเนินการเรียกเก็บเงินตามวิธีการชำระเงินต่อไป
  เนื่องจากอาจมีการอัพเดทข้อมูลดังกล่าว
  ซึ่งอาจส่งผลให้มีการเปลี่ยนแปลงวันที่ในเรียกเก็บเงินได้
  นอกจากนี้คุณยังอนุญาตให้บริษัทฯ
  ขอวันหมดอายุใหม่หรือวันหมดอายุและหมายเลขบัตรเครดิตหรือเดบิตใบใหม่ที่ออกให้โดยผู้ออกบัตรเครดิตหรือบัตรเดบิตของคุณ
  เงื่อนไขในการชำระเงินของคุณจะขึ้นอยู่กับวิธีการชำระเงิน
  และอาจถูกกำหนดโดยข้อตกลงระหว่างคุณและสถาบันการเงิน ผู้ออกบัตรเครดิต
  หรือผู้ให้บริการอื่นตามวิธีการชำระเงินที่คุณกำหนด หากคุณพำนักนอกทวีปอเมริกา
  เราถือว่าคุณยินยอมให้ดำเนินการชำระเงินให้ Tinder ผ่าน MTCH Technology Services
  Limited')}}
</p>
<p>
  <strong>{{_('ไอเท็มเสมือนจริง')}}</strong>
  {{_('บางครั้งคุณอาจมีสิทธิซื้อหรือรับไลเซนส์ที่จำกัด ในลักษณะที่ถ่ายโอนไม่ได้
  ให้ใช้สิทธิช่วงไม่ได้ แต่เพิกถอนได้เพื่อใช้ "ไอเท็มเสมือนจริง"
  ซึ่งอาจรวมถึงผลิตภัณฑ์เสมือนจริงหรือ "Coins" เสมือนจริง หรือไอเท็มอื่นๆ
  ซึ่งสามารถแลกเปลี่ยนเป็นผลิตภัณฑ์เสมือนจริงอื่นๆ (รวมเรียกว่า "ไอเท็มเสมือน")
  ได้ภายในบริการ
  ยอดคงเหลือของไอเท็มเสมือนจริงที่ปรากฏอยู่ในบัญชีของคุณไม่ถือเป็นยอดคงเหลือในโลกจริง
  และไม่ได้สะท้อนถึงมูลค่าที่ถือไว้
  แต่ถือเป็นหน่วยวัดขอบเขตของไลเซนส์การใช้งานของคุณ
  ไม่มีการเรียกเก็บค่าธรรมเนียมสำหรับไอเท็มเสมือนจริงหากไม่มีการใช้งาน
  อย่างไรก็ตามไลเซนส์การใช้งานที่มอบให้คุณในไอเท็มเสมือนจริงนั้นจะยุติลงตามเงื่อนไขที่ระบุไว้ในข้อตกลงนี้
  คือเมื่อ Tinder ยุติการให้บริการ หรือในกรณีที่บัญชีของคุณถูกปิดหรือยกเลิก
  Tinder
  ขอใช้ดุลยพินิจแต่เพียงฝ่ายเดียวในการสงวนสิทธิ์การเรียกเก็บค่าธรรมเนียมสำหรับสิทธิในการเข้าถึงหรือใช้ไอเท็มเสมือนจริง
  และอาจแจกจ่ายไอเท็มเสมือนจริงโดยเรียกหรือไม่เรียกเก็บค่าใช้จ่ายก็ได้ Tinder
  มีสิทธิจัดการ กำกับ ควบคุม เปลี่ยนแปลง หรือยกเลิกไอเท็มเสมือนจริงเมื่อใดก็ได้
  และจะไม่รับผิดชอบต่อคุณหรือบุคคลที่สามในกรณีที่ Tinder ใช้สิทธิดังกล่าว
  ไอเท็มเสมือนจริงใช้ได้ผ่านบริการนี้เท่านั้น
  การซื้อและการแลกใช้ไอเท็มเสมือนจริงทั้งหมดที่กระทำผ่านบริการนี้ถือเป็นที่สิ้นสุด
  และไม่สามารถขอเงินคืนได้
  ข้อกำหนดของไอเท็มเสมือนจริงเพื่อใช้ในบริการนี้เป็นบริการที่จะออกผลบังคับใช้
  ทันทีที่มีการยอมรับการซื้อไอเท็มเสมือนจริงดังกล่าว คุณรับทราบว่า TINDER
  ไม่จำเป็นต้องคืนเงินในส่วนที่เกี่ยวกับไอเท็มเสมือนจริงไม่ว่าจะด้วยเหตุผลใด
  และคุณจะไม่ได้รับเงินหรือค่าชดเชยอื่นสำหรับไอเท็มเสมือนจริงที่ไม่ได้ใช้เมื่อปิดบัญชี
  ไม่ว่าบัญชีดังกล่าวจะถูกปิดด้วยความสมัครใจหรือไม่ก็ตาม')}}
</p>
<p>
  <strong>{{_('การคืนเงิน')}}</strong>
  โดยทั่วไปแล้วคุณจะไม่สามารถขอเงินคืนได้สำหรับทุกค่าใช้จ่ายสำหรับการซื้อ
  และจะไม่มีการคืนเงินหรือเครดิตคืนให้สำหรับช่วงเวลาที่ใช้ไปบางส่วน
  เราอาจจะยกเว้นให้ได้หากมีการยื่นคำขอให้คืนเงินการบอกรับเป็นสมาชิกนั้นภายในสิบสี่วันหลังจากวันที่ทำธุรกรรม
  หรือหากกฎหมายในเขตอำนาจศาลของคุณกำหนดให้ต้องคืนเงิน
</p>
<p>
  {{_('สำหรับสมาชิกที่พำนักใน EU หรือเขตเศรษฐกิจยุโรป
  ตามกฎหมายท้องถิ่นแล้วคุณมีสิทธิได้รับเงินคืนเต็มจำนวนโดยไม่ต้องแจ้งเหตุผลภายในเวลา
  14 วันนับจากวันที่เริ่มบอกรับสมาชิก ขอแจ้งให้ทราบว่าระยะเวลา 14
  วันนี้เริ่มขึ้นเมื่อเริ่มบอกรับสมาชิก')}}
</p>
<p>
  {{_('สำหรับผู้สมัครสมาชิกหรือผู้ซื้อไอเท็มเสมือนจริงที่พำนักอยู่ในสาธารณรัฐเกาหลี
  – ตามกฎหมายท้องถิ่นแล้ว
  คุณมีสิทธิได้รับเงินคืนเต็มจำนวนสำหรับการเป็นสมาชิกและ/หรือไอเท็มเสมือนจริงที่ไม่ได้ใช้ในช่วง
  7 วันหลังจากการซื้อ โปรดทราบว่าระยะเวลา 7 วันนี้เริ่มต้นเมื่อมีการซื้อ')}}
</p>
<p>
  {{_('ยกเว้นตามที่ระบุไว้ข้างต้นสำหรับสมาชิกที่พำนักอยู่ในสาธารณรัฐเกาหลี
  การซื้อไอเท็มเสมือนจริงถือเป็นที่สิ้นสุดและไม่สามารถคืนเงินได้')}}
</p>
<p>{{_('วิธีการขอเงินคืน:')}}</p>
<p>
  {{_('หากคุณทำการซื้อผ่าน Apple ID ของคุณ ทาง Apple
  จะเป็นผู้จัดการเรื่องการคืนเงิน ไม่ใช่ Tinder โดยคุณสามารถขอเงินคืนได้โดยไปที่
  App Store คลิกที่ Apple ID ของคุณ จากนั้นเลือก "ประวัติการซื้อ"
  ค้นหาการชำระเงินนั้น และเลือก "รายงานปัญหา"
  นอกจากนี้คุณยังสามารถส่งคำร้องไปที่ https://getsupport.apple.com
  ได้เช่นกัน')}}
</p>
<p>
  {{_('ในกรณีที่คุณทำการซื้อโดยใช้บัญชี Google Play Store หรือผ่าน Tinder โดยตรง
  โปรดติดต่อฝ่ายบริการช่วยเหลือลูกค้า พร้อมด้วยหมายเลขคำสั่งซื้อของคุณสำหรับ
  Google Play Store
  (หมายเลขคำสั่งซื้อนี้อยู่ในอีเมลยืนยันการสั่งซื้อหรือโดยการล็อกอินเข้าสู่ระบบ
  Google Wallet) หรือ Tinder (ข้อมูลนี้อยู่ในอีเมลยืนยันการสั่งซื้อ)
  คุณสามารถส่งหรือจัดส่งคำร้องพร้อมลงลายมือชื่อและวันที่ได้เช่นกัน
  โดยระบุว่าคุณในฐานะผู้ซื้อต้องการยกเลิกข้อตกลงนี้
  หรือด้วยข้อความในลักษณะคล้ายคลึงกัน
  โปรดระบุที่อยู่อีเมลหรือหมายเลขโทรศัพท์มือถือที่ผูกกับบัญชีของคุณ
  พร้อมหมายเลขคำสั่งซื้อ โปรดส่งคำร้องแจ้งไปที่ Tinder, Attn: Cancellations,
  P.O. Box 25472, Dallas, Texas 75225, USA')}}
</p>
<p>
  {{_('หากคุณใช้สิทธิในการยกเลิก (ยกเว้นการซื้อผ่าน Apple ID ซึ่ง Apple
  เป็นผู้ควบคุม) เราจะคืนเงิน (หรือขอให้ Google คืนเงิน)
  ทุกการชำระเงินที่ได้รับจากคุณโดยไม่ล่าช้าหรือภายใน 14
  วันนับจากวันที่เราได้รับแจ้งถึงการตัดสินใจจากคุณว่าจะยกเลิกข้อตกลง
  เราจะคืนเงินดังกล่าวโดยใช้วิธีการชำระเงินแบบเดียวกับที่คุณใช้ในการทำธุรกรรมครั้งแรก
  จะไม่มีการเรียกเก็บค่าธรรมเนียมจากการคืนเงินไม่ว่าในกรณีใดๆ ก็ตาม')}}
</p>
<p>
  {{_('หากคุณทำการซื้อผ่านทางแพลทฟอร์มการชำระเงินที่ไม่ได้ระบุไว้ข้างต้น
  โปรดขอเงินคืนโดยตรงจากผู้ขายซึ่งเป็นบุคคลที่สามที่คุณทำการสั่งซื้อ')}}
</p>
<p>
  {{_('คุณไม่สามารถยกเลิกคำสั่งซื้อสำหรับการส่งมอบคอนเทนท์ทางดิจิทัลที่ไม่ได้ส่งมอบบนสื่อบันทึกทางกายภาพได้
  หากกระบวนการคำสั่งได้เริ่มขึ้นแล้วโดยได้รับคำยินยอมและการรับทราบของคุณล่วงหน้าอย่างชัดแจ้งแล้วว่าคุณจะเสียสิทธิในการยกเลิก
  ข้อกำหนดนี้มีผลบังคับใช้กับการซื้อไอเท็มเสมือนด้วย
  ซึ่งหมายความว่าการซื้อดังกล่าวเป็นที่สิ้นสุดและไม่สามารถคืนเงินได้')}}
</p>
<p>
  <strong>{{_('การกำหนดราคา')}}</strong>
  {{_('Tinder
  ดำเนินธุรกิจไปทั่วโลกและราคาของเราแตกต่างกันไปในแต่ละประเทศตามปัจจัยหลายประการ
  บ่อยครั้งที่เราจะเสนอราคาโปรโมชั่น ซึ่งอาจแตกต่างกันไปตามภูมิภาค
  ระยะเวลาของการสมัครเป็นสมาชิก ข้อเสนอรวมหลายรายการ ฯลฯ
  นอกจากนี้เรายังทดสอบฟีเจอร์ใหม่ๆ และตัวเลือกการชำระเงินอื่นๆ เป็นประจำ')}}
</p>
<h2>
  {{_('11. หนังสือแจ้งและวิธีการดำเนินการยื่นคำร้องเรื่องการละเมิดลิขสิทธิ์')}}
</h2>
<p>
  {{_('หากคุณเชื่อว่างานของคุณถูกคัดลอกและโพสต์ไว้บนบริการด้วยวิธีการที่เป็นการละเมิดลิขสิทธิ์
  กรุณาส่งคำร้องแก่เราโดยใช้แบบฟอร์มที่นี่')}}
</p>
<p>
  {{_('หากคุณติดต่อเราด้วยเรื่องที่เกี่ยวกับการละเมิดลิขสิทธิ์
  โปรดระบุถึงข้อมูลต่อไปนี้:')}}
</p>
<ul>
  <li>
    {{_('ลายมือชื่ออิเล็กทรอนิกส์
    หรือลายมือชื่อจริงของบุคคลผู้มีอำนาจกระทำการในนามของเจ้าของลิขสิทธิ์นั้นๆ')}}
  </li>
  <li>{{_('คำอธิบายผลงานอันมีลิขสิทธิ์ที่คุณเชื่อว่าถูกละเมิด')}}</li>
  <li>
    {{_('คำอธิบายรายละเอียดของตำแหน่งชิ้นงานที่คุณเชื่อว่าถูกละเมิดพร้อมระบุว่าอยู่ในส่วนใดของบริการนี้
    (และคำบรรยายดังกล่าวต้องให้ข้อมูลตามสมควรที่จะทำให้เราสามารถค้นหาชิ้นงานซึ่งน่าสงสัยว่าเป็นการละเมิดสิทธิ์)')}}
  </li>
  <li>
    {{_('ข้อมูลติดต่อของคุณ รวมถึงที่อยู่ หมายเลขโทรศัพท์ อีเมล
    และข้อมูลอัตลักษณ์ที่ระบุความเป็นเจ้าของลิขสิทธิ์')}}
  </li>
  <li>
    {{_('การให้คำมั่นเป็นลายลักษณ์อักษรของคุณที่ระบุว่าคุณมีความเชื่อโดยสุจริตว่าการใช้งานดังกล่าวไม่ได้รับอนุญาตจากเจ้าของลิขสิทธิ์ตัวแทน
    หรือกฎหมาย และ')}}
  </li>
  <li>
    {{_('คำแถลงของคุณ ที่ทำขึ้นภายใต้บทลงโทษการให้การเท็จ
    ว่าข้อมูลข้างต้นในใบแจ้งของคุณนั้นถูกต้องทุกประการ
    และคุณเป็นเจ้าของลิขสิทธิ์หรือผู้ได้รับอนุญาตให้กระทำการแทนเจ้าของลิขสิทธิ์')}}
  </li>
</ul>
<p>{{_('Tinder จะดำเนินการปิดบัญชีของผู้ละเมิดลิขสิทธิ์ที่กระทำผิดซ้ำ')}}</p>
<h2>{{_('12. การปฏิเสธความรับผิด')}}</h2>
<p>
  {{_('TINDER จัดหาบริการในลักษณะ “ตามที่เป็น” และ”ตามที่มี”
  และภายใต้ขอบเขตสูงสุดของกฎหมายที่ใช้บังคับพึงอนุญาต
  ขอปฏิเสธการรับประกันในทุกประการ ไม่ว่าโดยชัดแจ้ง โดยนัย โดยชอบด้วยกฎหมาย
  หรือไม่ว่าในกรณีอื่นใดที่เกี่ยวข้องกับบริการนี้
  (รวมถึงเนื้อหาทั้งหมดที่ประกอบอยู่ในข้อตกลงนี้)
  รวมถึงแต่ไม่จำกัดเฉพาะการรับประกันโดยนัยเกี่ยวกับความพึงพอใจในคุณภาพ
  สภาพการใช้ประโยชน์ในเชิงพาณิชย์ ความเหมาะสมเพื่อวัตถุประสงค์ใดๆ
  หรือการไม่ละเมิดสิทธิ์และกรรมสิทธิ์ TINDER ไม่ได้รับรองหรือรับประกันว่า (ก)
  บริการนี้จะราบรื่นไม่สะดุด ปลอดภัย หรือปราศจากข้อผิดพลาด (ข) ข้อบกพร่อง
  หรือข้อผิดพลาดใดๆ ในบริการนี้จะได้รับการแก้ไข หรือ (ค) เนื้อหา หรือข้อมูลใดๆ
  ที่คุณได้รับจาก หรือผ่านบริการนี้จะมีความถูกต้องแม่นยำ')}}
</p>
<p>
  {{_('Tinder จะไม่รับผิดชอบต่อคอนเทนท์ใดๆ
  ที่คุณหรือสมาชิกท่านอื่นหรือบุคคลที่สามโพสท์ ส่ง หรือรับผ่านบริการ คอนเทนท์ใดๆ
  ที่คุณเข้าถึงผ่านการดาวน์โหลดหรือได้รับมาผ่านการใช้บริการจะถือว่าขึ้นกับดุลยพินิจและเป็นความเสี่ยงของคุณเอง')}}
</p>
<h2>{{_('13. บริการของบุคคลที่สาม')}}</h2>
<p>
  {{_('บริการอาจจะมีเนื้อหาโฆษณาและการส่งเสริมการขายที่นำเสนอโดยบุคคลที่สาม
  และมีลิงก์ไปยังเว็บไซต์หรือแหล่งข้อมูลอื่นๆ ทาง Tinder
  ไม่รับผิดชอบต่อความพร้อมให้บริการ (หรือการขาดความพร้อมในการให้บริการ)
  ของเว็บไซต์หรือแหล่งข้อมูลภายนอกดังกล่าว
  หากคุณเลือกที่จะมีปฏิสัมพันธ์กับบุคคลที่สามที่มีผ่านบริการของเรา
  เงื่อนไขของฝ่ายดังกล่าวจะกำกับควบคุมความสัมพันธ์ของตนที่มีกับคุณ ทาง Tinder
  ไม่รับผิดชอบหรือรับผิดต่อเงื่อนไขหรือการกระทำการของบุคคลที่สามดังกล่าว')}}
</p>
<h2>{{_('14. ข้อจำกัดความรับผิด')}}</h2>
<p>
  {{_('ตามขอบเขตสูงสุดที่กฎหมายที่บังคับใช้อนุญาตไว้ ไม่ว่าจะในกรณีในก็ตาม ทาง
  Tinder, บริษัทในเครือ, พนักงาน, ผู้ออกใบอนุญาต หรือผู้ให้บริการของบริษัท
  จะไม่รับผิดต่อความเสียหายที่เกิดขึ้นทางอ้อม ที่เป็นผลสืบเนื่อง ที่เป็นแบบอย่าง
  ที่เกิดขึ้นโดยบังเอิญ ที่เป็นการเฉพาะ เป็นการลงโทษ
  หรือเป็นความเสียหายที่เพิ่มขึ้น รวมถึงแต่ไม่จำกัดเพียงการสูญเสียผลกำไร
  ไม่ว่าจะเกิดขึ้นโดยทางตรงหรือทางอ้อม หรือการสูญเสียข้อมูล การใช้งาน
  ค่าความนิยม หรือการสูญเสียที่จับต้องไม่ได้อื่นๆ อันเป็นผลมาจาก: (1)
  การเข้าถึงหรือการใช้ หรือการไม่สามารถเข้าถึงหรือไม่สามารถใช้บริการโดยตัวคุณเอง
  (2) การกระทำการหรือคอนเทนท์ของสมาชิกคนอื่นๆ หรือบุคคลที่สามเกี่ยวกับ ผ่าน
  หรือที่เป็นผลสืบเนื่องจากการใช้บริการ หรือ (3) การเข้าถึง การใช้งาน
  หรือการแก้ไขคอนเทนท์ของคุณโดยไม่ได้รับอนุญาต แม้ว่า Tinder
  จะได้รับแจ้งถึงโอกาสความเป็นไปได้ของความเสียหายดังกล่าวเมื่อเวลาใดๆ แล้วก็ตาม
  ไม่ว่าในกรณีใดก็ตาม ความรับผิดโดยรวมของ Tinder
  ที่มีต่อคุณสำหรับข้อเรียกร้องทั้งหมดที่เกี่ยวข้องกับบริการจะต้องไม่เกินกว่าจำนวนเงินที่คุณจ่ายให้แก่
  Tinder สำหรับค่าบริการและบวกเข้าไปอีก 100 เหรียญดอลลาร์สหรัฐ
  ในขณะที่คุณยังมีบัญชีอยู่')}}
</p>
<p>
  {{_('ในบางเขตอำนาจศาลไม่อนุญาตให้มีข้อยกเว้น
  หรือข้อจำกัดเกี่ยวกับค่าเสียหายบางประการ
  ดังนั้นข้อยกเว้นและข้อจำกัดบางส่วนหรือทั้งหมดในมาตรานี้อาจไม่สามารถใช้บังคับกับคุณ')}}
</p>
<h2>
  {{_('15. อนุญาโตตุลาการ การสละสิทธิแห่งการฟ้องคดีแบบกลุ่ม
  และการสละสิทธิไม่ขอรับพิจารณาคดีด้วยคณะลูกขุน')}}
</h2>
<p>
  {{_('ยกเว้นสำหรับสมาชิกที่พำนักอยู่ภายในสหภาพยุโรปหรือเขตเศรษฐกิจยุโรป
  และที่อื่นๆ ที่กฎหมายที่บังคับใช้ได้ห้ามเอาไว้:')}}
</p>
<ol>
  <li>
    {{_('วิธีการเดียวในการระงับข้อพิพาทหรือข้อเรียกร้องที่เกิดขึ้นจากหรือเกี่ยวข้องกับข้อตกลงฉบับนี้
    (รวมถึงข้อกล่าวหาการละเมิดฝ่าฝืนใด ๆ ในข้อตกลง) หรือบริการ
    จะต้องดำเนินการโดยวิธีการอนุญาโตตุลาการ ซึ่ง JAMS
    จะเป็นผู้บริหารจัดการภายใต้กฎระเบียบและกระบวนการอนุญาโตตุลาการที่ได้รับการปรับปรุงแล้วของ
    JAMS ยกเว้นตามที่ได้รับการแก้ไขโดย')}}
    <a href="#">{{_('กระบวนการอนุญาโตตุลาการ')}}</a>
    {{_(' ข้อยกเว้นหนึ่งประการต่อข้อจำกัดอำนาจของอนุญาโตตุลาการ
    แต่ละฝ่ายมีสิทธิในการฟ้องร้องแบบรายบุคคลต่ออีกฝ่ายหนึ่งในศาลคดีมโนสาเร่ของเขตอำนาจศาลที่มีอำนาจตัดสินคดี
    หรือต่ออนุญาโตตุลาการ
    อีกฝ่ายสามารถขอให้มีการพิจารณาข้อพิพาทในศาลคดีมโนสาเร่แทนได้
    หากว่าข้อพิพาทนั้นอยู่ในอำนาจศาลของศาลคดีมโนสาเร่
    หากมีการร้องขอให้ดำเนินการในศาลคดีมโนสาเร่ก่อนที่จะมีการตั้งอนุญาโตตุลาการ
    อนุญาโตตุลาการจะถูกยกเลิกไป
    หากมีการร้องขอให้ดำเนินการในศาลคดีมโนสาเร่หลังจากที่ได้มีการตั้งอนุญาโตตุลาการไปแล้ว
    อนุญาโตตุลาการจะเป็นผู้ตัดสินว่าข้อพิพาทดังกล่าวควรจะอยู่ในกระบวนการอนุญาโตตุลาการ
    หรือจะถูกตัดสินในศาลคดีมโนสาเร่แทน
    โดยคุณสามารถขอให้มีการอนุญาโตตุลาการดังกล่าวได้โดยการส่งคำร้องเป็นลายลักษณ์อักษรเท่านั้น
    เว้นแต่คุณหรือ Tinder
    เลือกที่จะเรียกร้องสิทธิในการสอบปากเปล่าก่อนที่จะมีการอนุญาโตตุลาการ
    แต่ไม่ว่าคุณจะเลือกใช้การอนุญาโตตุลาการหรือการฟ้องร้องคดีในศาลคดีมโนสาเร่
    คุณยอมรับว่า ไม่ว่าจะเป็นกรณีใดๆ ก็ตาม คุณจะไม่สามารถเริ่ม ดำเนินคดี
    เข้าร่วมในลักษณะของการฟ้องคดีต่อบริษัทในนามกลุ่มบุคคล
    การอนุญาโตตุลาการในนามกลุ่มบุคคล ฟ้องคดีในนามกลุ่มบุคคล หรือดำเนินคดีต่อ
    Tinder ได้')}}
  </li>
  <li>
    {{_('การตัดสินใจใช้บริการในลักษณะใดก็ตามจะหมายความว่าคุณยอมรับในข้อตกลงเรื่องการอนุญาโตตุลาการข้างต้นแล้ว
    ซึ่งหมายความว่าคุณได้สละสิทธิ์แห่งการฟ้องร้องในศาล
    เพื่อยืนยันหรือคัดค้านข้อเรียกร้องใดๆ ระหว่างคุณและบริษัท
    (ยกเว้นสำหรับเหตุที่อาจส่งฟ้องในศาลคดีมโนสาเร่ได้)
    และคุณยังได้สละสิทธิ์การเข้าร่วมการฟ้องคดีในนามกลุ่มบุคคลหรือการดำเนินคดีในนามกลุ่มบุคคลอื่นๆ
    หากคุณเรียกร้องสิทธิ์ต่อ Tinder นอกศาลคดีมโนสาเร่ (และ Tinder
    ไม่ได้ร้องขอให้ย้ายคำร้องไปที่ศาลคดีมโนสาเร่)
    สิทธิ์ของคุณนั้นจะได้รับการพิจารณาโดยอนุญาโตตุลาการที่เป็นกลาง
    ไม่ใช่ผู้พิพากษาหรือคณะลูกขุน
    และอนุญาโตตุลาการจะตัดสินข้อเรียกร้องและข้อพิพาททั้งหมดที่เกี่ยวข้องกับอนุญาโตตุลาการ
    คุณมีสิทธิ์ได้รับการไต่สวนอย่างเป็นธรรมก่อนพบอนุญาโตตุลาการ
    อนุญาโตตุลาการสามารถสั่งการให้มีการแก้ไขเยียวยาได้เช่นเดียวกับศาล
    รวมถึงความสามารถในการพิจารณาคำร้อง (ซึ่งอาจรวมถึงคำร้องตามคำแถลงของคู่กรณี
    และคำร้องตามคำแถลงของคู่กรณีพร้อมพยานหลักฐานที่ส่งมา)
    แต่คุณควรทราบว่ากระบวนการพิจารณาตามการอนุญาโตตุลาการนั้นมักจะเรียบง่ายกว่า
    และดำเนินไปได้รวดเร็วกว่าการไต่สวนหรือกระบวนการพิจารณาเพื่อตัดสินอื่นๆ
    ของศาล คำตัดสินของอนุญาโตตุลาการจะมีผลบังคับใช้ได้ในศาล
    และอาจจะถูกกลับคำตัดสินโดยศาลได้ด้วยเหตุผลที่จำกัดอย่างมากเท่านั้น
    สำหรับรายละเอียดเกี่ยวกับกระบวนการอนุญาโตตุลาการ โปรดดูที่ ')}}<a href="#"
      >{{_('กระบวนการอนุญาโตตุลาการ')}}</a
    >
  </li>
  <li>
    {{_('กระบวนการพิจารณาเพื่อบังคับใช้สัญญาอนุญาโตตุลาการ
    รวมถึงกระบวนการพิจารณาใดๆ เพื่อยืนยัน เปลี่ยนแปลง
    หรือเพิกถอนคำชี้ขาดของอนุญาโตตุลาการ อาจเริ่มขึ้นที่ศาลใดๆ ที่มีเขตอำนาจ
    ในกรณีที่สัญญาอนุญาโตตุลาการ ไม่ว่าด้วยเหตุใดก็ตาม ไม่สามารถบังคับใช้ได้
    การดำเนินคดีใดๆ ต่อบริษัท (ยกเว้นแต่การตัดสินของศาลมโนสาเร่)
    อาจเริ่มขึ้นที่ศาลรัฐบาลกลาง หรือศาลแห่งรัฐซึ่งตั้งอยู่ที่ ดัลลัส เคาน์ตี้
    รัฐเท็กซัสเท่านั้น
    คุณยินยอมซึ่งเป็นความยินยอมที่มิอาจเพิกถอนได้ต่อขอบเขตอำนาจแห่งศาลเหล่านั้นเพื่อวัตถุประสงค์เช่นว่านั้น')}}
  </li>
  <li>
    {{_('คุณสามารถใช้แพลตฟอร์มการระงับข้อพิพาททางออนไลน์ของ European Commission
    ได้ที่ http://ec.europa.eu/odr ทาง Tinder
    ไม่มีส่วนเกี่ยวข้องกับขั้นตอนของการระงับข้อพิพาทโดยอนุญาโตตุลาการสำหรับสมาชิกที่พำนักอยู่ในสหภาพยุโรปหรือบริเวณเศรษฐกิจยุโรป')}}
  </li>
</ol>
<h2>{{_('16. กฎหมายที่ใช้บังคับ')}}</h2>
<p>
  {{_('สำหรับสมาชิกที่พำนักอยู่ในสหภาพยุโรปหรือเขตเศรษฐกิจยุโรป หรือประเทศอื่นๆ
  ที่กฎหมายห้ามใช้ข้อตกลงการอนุญาโตตุลาการของเรา กฎหมายของรัฐเท็กซัส
  ประเทศสหรัฐอเมริกา โดยไม่รวมถึงหลักการแห่งความขัดแย้งของข้อกฎหมายของรัฐเท็กซัส
  จะมีผลบังคับใช้กับข้อพิพาทที่เกิดขึ้นหรือเกี่ยวข้องกับข้อตกลงฉบับนี้หรือบริการ
  อย่างไรก็ตามแม้จะมีข้อตกลงดังกล่าวข้างต้น ข้อตกลงอนุญาโตตุลาการในหัวข้อ 15
  ข้างต้นจะอยู่ภายใต้การบังคับแห่งพระราชบัญญัติอนุญาโตตุลาการของรัฐบาลกลาง
  (Federal Arbitration Act) และเพื่อหลีกเลี่ยงข้อสงสัย
  ตัวเลือกการใช้กฎหมายควบคุมของรัฐเท็กซัสจะไม่มีอำนาจเหนือกว่ากฎหมายการคุ้มครองผู้บริโภคที่มีบังคับใช้ในเขตอำนาจทางกฎหมายดังกล่าว')}}
</p>
<h2>{{_('17. สถานที่')}}</h2>
<p>
  {{_('นอกจากสมาชิกที่พำนักอยู่ในสหภาพยุโรปหรือเขตเศรษฐกิจยุโรป
  ซึ่งอาจนำข้อเรียกร้องไปใช้ในประเทศที่พำนักได้ตามกฎหมายที่บังคับใช้
  และยกเว้นการเรียกร้องที่อาจนำไปสู่การฟ้องร้องในศาลเล็กที่อาจได้รับค่าเสียหายจากศาลขนาดเล็ก
  การเรียกร้องทั้งหมดที่เกิดขึ้นจาก หรือเกี่ยวข้องกับข้อตกลงฉบับนี้ ต่อบริการ
  หรือความสัมพันธ์ของคุณกับ Tinder ว่าด้วยเหตุผลใดก็ตาม
  จะไม่ถูกส่งไปยังอนุญาโตตุลาการ และจะถูกฟ้องร้องเฉพาะในศาลของรัฐบาลกลาง
  หรือดัลลัส เคาน์ตี้ รัฐเท็กซัส สหรัฐอเมริกาเท่านั้น คุณและ Tinder
  ยินยอมให้มีการใช้เขตอำนาจศาลส่วนบุคคลของศาลในรัฐเท็กซัส
  และจะไม่ใช้สิทธิเรียกร้องใดๆ ว่าศาลดังกล่าวเป็นศาลที่ไม่สะดวก')}}
</p>
<h2>{{_('18. การชำระค่าสินไหมทดแทนโดยคุณ')}}</h2>
<p>
  {{_('ภายใต้ขอบเขตที่กฎหมายที่มีอนุญาตไว้ คุณยินยอมว่าจะชดใช้ ปกป้อง
  และไม่ฟ้องร้อง Tinder บริษัทในเครือของเรา และเจ้าหน้าที่ ผู้บริหาร ตัวแทน
  และพนักงานของบริษัทในเครือและของเรา จากการร้องเรียน การเรียกร้อง การฟ้องร้อง
  ความเสียหาย การสูญเสีย ค่าใช้จ่าย ความรับผิด และค่าใช้จ่ายใดๆ เลย
  รวมถึงค่าธรรมเนียมทนายความ ที่มีเหตุมาจาก เกิดขึ้นจาก
  หรือเกี่ยวข้องในทางใดทางหนึ่งกับการเข้าถึงหรือใช้บริการของคุณ คอนเทนท์ของคุณ
  หรือการฝ่าฝืนข้อตกลงนี้ของคุณ')}}
</p>
<h2>{{_('19. ข้อตกลงเบ็ดเสร็จและอื่นๆ')}}</h2>
<p>
  {{_('ข้อตกลงนี้ที่ครอบคลุม')}}
  <a href="{{url_for('legal.privacy')}}"
    >{{_('นโยบายการคุ้มครองข้อมูลส่วนบุคคล')}}</a
  >,
  <a href="{{url_for('legal.cookies_policy')}}">{{_('นโยบายการใช้คุกกี้')}}</a>,
  <a href="#">{{_('เคล็ดลับเพื่อความปลอดภัย')}}</a>,
  <a href="#">{{_('หลักปฏิบัติของคอมมิวนิตี้')}}</a>, และ
  <a href="#">{{_('กระบวนการอนุญาโตตุลาการ')}}</a>, {{_('(หากเกี่ยวข้องกับคุณ)
  รวมทั้งเงื่อนไขใดๆ ที่คุณได้รับแจ้งและยินยอมตกลง หากคุณซื้อฟีเจอร์ ผลิตภัณฑ์
  หรือบริการที่เรานำเสนอไว้บนบริการเพิ่มเติม จะมีข้อตกลงเบ็ดเสร็จระหว่างคุณและ
  Tinder เกี่ยวกับการใช้บริการอยู่ หากข้อกำหนดใดของข้อตกลงฉบับนี้เป็นโมฆะ
  คอนเทนท์ส่วนที่เหลือของข้อตกลงจะยังมีผลบังคับใช้อย่างเต็มที่และสมบูรณ์ทุกประการ
  การที่บริษัทไม่สามารถใช้สิทธิ์หรือบังคับใช้สิทธิ์หรือข้อกำหนดใดๆ
  ในข้อตกลงฉบับนี้ได้ จะไม่ถือว่าเป็นการสละซึ่งสิทธิ์หรือข้อกำหนดดังกล่าว
  คุณยินยอมว่าบัญชี Tinder ของคุณจะโอนย้ายไม่ได้
  และสิทธิ์ทั้งหมดของคุณในบัญชีรวมถึงคอนเทนท์ในบัญชีจะสิ้นสุดลงเมื่อคุณเสียชีวิต
  จะไม่มีการสร้างบริษัทตัวแทน ห้างหุ้นส่วน กิจการร่วมค้า
  ผู้ดูแลผลประโยชน์หรือความสัมพันธ์พิเศษหรือการจ้างงานอื่นใดสืบเนื่องจากข้อตกลงฉบับนี้
  และคุณไม่มีสิทธิให้คำรับรองในนามของ Tinder หรือผูกมัด Tinder
  ไม่ว่าจะเป็นในลักษณะใดก็ตาม')}}
</p>
{% endblock %}
